/* Color palette */
/* Text styles */
.A1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
#profile > .dropdown > div {
  float: left;
}
#profile .user-name {
  cursor: pointer;
  display: block;
  width: auto;
  height: 45px;
  line-height: 45px;
  margin-top: 14px;
  padding: 0 15px;
  color: white;
}
#profile .avatar {
  margin: 14px 0 0 0;
  cursor: pointer;
}
#profile .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#profile .dropdown-menu {
  width: 225px;
  margin: 80px 0 0 0;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
#profile .dropdown-menu .dropdown-triangle {
  position: absolute;
  top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 5px 8px;
  border-color: transparent transparent white transparent;
}
#profile .dropdown-menu li {
  padding: 0;
}
#profile .dropdown-menu li a {
  padding: 15px 15px;
}
#profile .dropdown-menu li a span:first-child {
  margin-right: 15px;
}
#profile .dropdown-menu li a:hover {
  background: rgba(227, 242, 253, 0.5);
}
#profile .dropdown-menu li.normal span:first-child {
  color: #2196f3;
}
#profile .dropdown-menu li.normal:hover span {
  color: #2196f3;
}
#profile .dropdown-menu li.logout span:first-child {
  color: #f44336;
}
#profile .dropdown-menu li.logout:hover span {
  color: #f44336;
}
#search {
  width: 206px;
  height: 35px;
  margin: 18px 0 0 25px;
}
#search .search input {
  outline: none;
  display: block;
  float: left;
  background: none;
  border: 1px solid #99cef9;
  color: #ffffff;
  height: 35px;
  width: 174px;
  border-radius: 3px;
  padding: 0 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#search .search input.search-active {
  border: 1px solid white!important;
}
#search .search input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search input:-moz-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search-btn {
  outline: none;
  width: 32px;
  display: block;
  float: left;
  border: none;
  height: 35px;
  background: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #99cef9;
  border-left: hidden;
}
#search .search-btn.search-btn-active {
  background: white!important;
  border: 1px solid white!important;
}
#search .search-btn .bt-search2 {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 0;
}
#search .search-btn .bt-search2.bt-search2-active {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 -1px;
}
.select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
}
.select .name {
  font-size: 21px;
  float: left;
  margin-top: 15px;
}
.select .options {
  list-style-type: none;
  float: right;
}
.select .options .option,
.select .options .option-red {
  float: left;
}
.select .options .option {
  color: #2196f3;
  padding: 15px 20px;
}
.select .options .option a {
  color: #2196f3;
}
.select .options .option a:hover,
.select .options .option a:focus {
  text-decoration: none;
  color: #2196f3;
  opacity: 0.54;
}
.select .options .option-red {
  color: #f55449;
  padding: 15px 15px;
}
.select .options .option-red a {
  color: #f55449;
}
.select .options .option-red a:hover {
  text-decoration: none;
  color: #f55449;
}
.main-cloud {
  padding-top: 25px;
  padding-bottom: 25px;
}
.table > thead > tr > th {
  border-bottom: 1px solid #e0e0e0!important;
}
.table > tbody > tr > td {
  border-top: 0px solid white;
}
.table-responsive {
  border: none;
}
