/* Color palette */
/* Text styles */
.A1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}
.C3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
/* variables */
/* default styles */
html{
	overflow:hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 72px;
  overflow-y: scroll;
}
html,
body {
  min-height: 100%;
  height:100%;
  background-color:white;
}
form .btn {
  height: 48px;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 10px;
}
.btn {
  border-radius: 4px;
  border-style: solid;
  vertical-align: middle;
}
.btn.btn-default[disabled],
.btn.btn-default {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}
.btn.btn-default:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default:active,
.btn.btn-default:hover:active {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
  box-shadow: none;
  outline: none;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default.btn-default-white {
  background-color: white;
  border-color: white;
  color: #2196f3;
}
.btn.btn-default.btn-default-white:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default.btn-default-white:active,
.btn.btn-default.btn-default-white:hover:active {
  background-color: white;
  border-color: white;
  color: #2196f3;
  box-shadow: none;
  outline: none;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-select {
  background-color: #ffffff;
  color: #212121;
  width: 100%;
  font-size: 14px;
}
.btn.btn-select:active {
  box-shadow: none;
}
.btn.btn-select:focus {
  outline: none;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
legend {
  margin-bottom: 15px;
}
a {
  color: #2196f3;
}
.top-padding {
  height: 230px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.signin-bg {
  background-image: url('/img/login-bg.jpg');
  background-position: bottom;
  background-size: cover;
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .signin-bg {
    background-image: url('/img/login-bg@2x.jpg');
  }
}
.ui-cloud-menu-selected-folder,
.ui-cloud-menu-selected-file,
.ui-cloud-menu-selected-folders,
.ui-cloud-menu-selected-files,
.ui-cloud-menu-selected-folders-files {
  display: none;
}
.text-red {
  color: #f44336 !important;
}
.text-red:hover {
  color: #f44336 !important;
}
.text-red span.text {
  color: red !important;
}
.border-bottom-blue {
  border-bottom: 1px solid #dbe7f3;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.group {
  position: relative;
  margin-top: 30px;
  margin-bottom: 36px;
}
.group input,
.group textarea {
  padding: 5px 5px 2px 0px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #212121;
  background: inherit;
}
.group input:focus,
.group textarea:focus {
  outline: none;
  border-color: #2196f3;
}
.group input:focus ~ label,
.group textarea:focus ~ label,
.group input.ng-dirty ~ label,
.group input.ng-not-empty ~ label,
.group textarea.ng-not-empty ~ label {
  top: -15px;
  font-size: 14px;
}
.group label {
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 14px;
	-o-transition: 0.2s ease all;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.14;
	color: #757575;
}
.group.has-error input:focus,
.group.has-error textarea:focus {
  border-color: #f44336;
}
.group.has-error label {
  opacity: 1;
  color: #f44336;
}
#profile > .dropdown > div {
  float: left;
}
#profile .user-name {
  cursor: pointer;
  display: block;
  width: auto;
  height: 45px;
  line-height: 45px;
  margin-top: 14px;
  padding: 0 15px;
  color: white;
}
#profile .avatar {
  margin: 14px 0 0 0;
  cursor: pointer;
}
#profile .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#profile .dropdown-menu {
  width: 225px;
  margin: 80px 0 0 0;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
#profile .dropdown-menu .dropdown-triangle {
  position: absolute;
  top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 5px 8px;
  border-color: transparent transparent white transparent;
}
#profile .dropdown-menu li {
  padding: 0;
}
#profile .dropdown-menu li a {
  padding: 15px 15px;
}
#profile .dropdown-menu li a span:first-child {
  margin-right: 15px;
}
#profile .dropdown-menu li a:hover {
  background: rgba(227, 242, 253, 0.5);
}
#profile .dropdown-menu li.normal span:first-child {
  color: #2196f3;
}
#profile .dropdown-menu li.normal:hover span {
  color: #2196f3;
}
#profile .dropdown-menu li.logout span:first-child {
  color: #f44336;
}
#profile .dropdown-menu li.logout:hover span {
  color: #f44336;
}
#search {
  width: 206px;
  height: 35px;
  margin: 18px 0 0 25px;
}
#search .search input {
  outline: none;
  display: block;
  float: left;
  background: none;
  border: 1px solid #99cef9;
  color: #ffffff;
  height: 35px;
  width: 174px;
  border-radius: 3px;
  padding: 0 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#search .search input.search-active {
  border: 1px solid white!important;
}
#search .search input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search input:-moz-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.54;
}
#search .search-btn {
  outline: none;
  width: 32px;
  display: block;
  float: left;
  border: none;
  height: 35px;
  background: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #99cef9;
  border-left: hidden;
}
#search .search-btn.search-btn-active {
  background: white!important;
  border: 1px solid white!important;
}
#search .search-btn .bt-search2 {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 0;
}
#search .search-btn .bt-search2.bt-search2-active {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 -1px;
}
.select {
  display: block;
  width: 100%;
  /*overflow: auto;*/
}
.select .name {
  font-size: 21px;
  float: left;
  margin-top: 15px;
}
.select .options {
  list-style-type: none;
  float: left;
}
.select .options .option,
.select .options .option-red {
  float: left;
}
.select .options .option {
  color: #2196f3;
  padding: 10px 10px;
}
.select .options .option a {
  color: #2196f3;
}
.select .options .option a:hover,
.select .options .option a:focus {
  text-decoration: none;
  color: #2196f3;
  opacity: 0.54;
}
.select .options .option-red {
  color: #f55449;
  padding: 10px 10px;
}
.select .options .option-red a {
  color: #f55449;
}
.select .options .option-red a:hover {
  text-decoration: none;
  color: #f55449;
}
.main-cloud {
  /*padding-top: 25px;
  padding-bottom: 25px;*/
}
.table > thead > tr > th {
  border-bottom: 1px solid #e0e0e0!important;
}
.table > tbody > tr > td {
  border-top: 0px solid white;
}
.table-responsive {
  border: none;
}
.m-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.m-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  padding: 0 15px;
  color: #212121;
}
.m-menu li a:hover,
.m-menu li a:focus {
  color: inherit;
  background-color: rgba(227, 242, 253, 0.5);
  text-decoration: none;
}
.m-menu li a .ui-icon {
  vertical-align: middle;
}
.m-menu li.active > a {
  color: #2196f3;
}
.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
}
.mobile-menu.trans {
  background: rgba(0, 0, 0, 0.2);
}
.mobile-menu .container {
  margin: 0;
  width: 85%;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
}
.mobile-menu .container .menu-logo {
  background: #f8fbfe;
  color: #2196f3;
  height: 120px;
}
.mobile-menu .container .menu-logo img {
  float: left;
  margin-top: 25px;
  margin-left: 19px;
}
.mobile-menu .container .menu-logo h3 {
  float: left;
  margin-top: 45px;
  margin-left: 19px;
}
.mobile-menu .container .menu-left {
  position: absolute;
  top: 120px;
  bottom: 0;
  padding: 15px;
  overflow-y: auto;
}
/* header icons */
.ic-back,
.ic-menu {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 36px;
}
.ic-back {
  background-image: url('/img/ic-arrow-down.svg');
  transform: rotate(90deg);
}
.ic-menu {
  background-image: url('/img/ic-menu.svg');
}
/* cloud menu */
.bt-cloud,
.bt-share,
.bt-recent,
.bt-bell,
.bt-cloud-filled,
.bt-share-filled,
.bt-recent-filled,
.bt-bell-filled,
.bt-search,
.bt-search2 {
  display: inline-block;
  margin-right: 15px;
  width: 24px;
  height: 24px;
  background-size: cover;
}
.bt-search {
  background-image: url('/img/ic-search.svg');
}
.bt-search2 {
  background-image: url('/img/ic-search2.svg');
}
.bt-search2.bt-search2-active {
  background-image: url('/img/ic-search-active.svg');
}
.bt-cloud {
  background-image: url('/img/ic-cloud.svg');
}
.bt-share {
  background-image: url('/img/ic-share.svg');
}
.bt-recent {
  background-image: url('/img/ic-recent.svg');
}
.bt-bell {
  background-image: url('/img/ic-bell.svg');
}
.bt-cloud-filled {
  background-image: url('/img/ic-cloud-active.svg');
}
.bt-share-filled {
  background-image: url('/img/ic-share-active.svg');
}
.bt-recent-filled {
  background-image: url('/img/ic-recent-active.svg');
}
.bt-bell-filled {
  background-image: url('/img/ic-bell-active.svg');
}
/* file list */
.ic-folder,
.ic-file,
.ic-file-pdf,
.ic-file-excel,
.ic-file-word,
.ic-file-image,
.ic-file-music,
.ic-file-video,
.ic-file-gray,
.ic-file-zip {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.ic-folder {
  background-image: url('/img/ic-folder.svg');
}
.ic-file {
  background: url('/img/ic-file.svg');
}
.ic-file-pdf{
	background: url('/img/ic-file-adobe.svg')
}
.ic-file-excel{
	background: url('/img/ic-file-excel.svg')
}
.ic-file-word{
	background: url('/img/ic-file-word.svg')
}
.ic-file-image{
	background: url('/img/ic-file-image.svg')
}
.ic-file-music{
	background: url('/img/ic-file-music.svg')
}
.ic-file-video{
	background: url('/img/ic-file-video.svg')
}
.ic-file-gray{
	background: url('/img/ic-file-grey.svg')
}
.ic-file-zip{
	background: url('/img/ic-file-zip.svg')
}
/* cloud options */
.ic-delete,
.ic-exit,
.ic-rename,
.ic-share,
.ic-download,
.ic-add-file,
.ic-add-folder,
.ic-arrow-down,
.ic-info,
.ic-sign-up,
.ic-sign-in,
.ic-settings,
.ic-done,
.ic-uploaded,
.ic-downloaded,
.ic-stop-process,
.ic-file-uploading,
.ic-loading,
.ic-cancel,
.ic-date,
.ic-file-image,
.ic-add,
.ic-minimize {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.ic-file-image {
  background-image: url('/img/ic-file-image.svg');
  margin-top: -3px;
}
.ic-minimize {
  background-image: url('/img/ic-minimize.svg');
}
.ic-date {
  background-image: url('/img/ic-date.svg');
  margin-top: -3px;
}
.ic-done {
  background-image: url('/img/ic-done.svg');
  margin-right: 0px;
}
.ic-uploaded{
	background-image: url('/img/ic-upload-success.svg');
	margin-right: 0px;
}
.ic-downloaded{
	background-image: url('/img/ic-upload-success.svg');
	margin-right: 0px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ic-stop-process{
	background-image: url('/img/ic-stop-process.svg');
	margin-right: 0px;
}
.ic-file-uploading {
  background-image: url('/img/ic-file-uploading.svg');
  margin-top: -5px;
}
.ic-loading {
  background-image: url('/img/ic-loading.svg');
  margin-right: 0px;
}
.ic-delete {
  background-image: url('/img/ic-delete.svg');
}
.ic-rename {
  background-image: url('/img/ic-edit.svg');
}
.ic-share {
  background-image: url('/img/ic-share.svg');
}
.ic-download {
  background-image: url('/img/ic-download.svg');
}
.ic-add-file {
  background-image: url('/img/ic-add-file.svg');
}
.ic-add-folder {
  background-image: url('/img/ic-add-folder.svg');
}
.ic-arrow-down {
  background-image: url('/img/ic-arrow-down.svg');
}
.ic-info {
  background-image: url('/img/ic-info.svg');
}
.ic-sign-up {
  background-image: url('/img/ic-sign-up.svg');
}
.ic-sign-in {
  background-image: url('/img/ic-sign-in.svg');
}
.ic-exit {
  background-image: url('/img/ic-exit.svg');
}
.ic-settings {
  background-image: url('/img/ic-settings.svg');
}
.ic-cancel {
  background-image: url('/img/ic-cancel.svg');
  margin-right: 0;
}
.ic-add {
  background-image: url('/img/ic-add.svg');
}
.svg-test-class {
  width: 24px;
  height: 24px;
  display: inline-block;
}
#upload-popup .reveal-modal {
  width: 500px;
}
.middle-popup {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;
  display: none;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 100000000;
}
.middle-popup:target {
  visibility: visible;
  display: block;
}
.reveal-modal {
  position: relative;
  margin: 0 auto;
  top: 15%;
  background: #ffffff;
  width: 326px;
  border-radius: 4px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
  padding: 8px 24px;
}
.reveal-modal.upload-modal {
  max-width: 500px!important;
  width: 90%!important;
  /*padding-top: 4px;*/
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
}
.reveal-modal.upload-modal .modal-header {
  padding: 14px 24px;
}
.reveal-modal.upload-modal .modal-footer {
  padding: 14px 24px;
}
.reveal-modal.upload-modal .modal-body {
  padding: 14px 24px 0 24px;
}
.reveal-modal .modal-upload-list {
  padding: 5px 0 10px 0;
}
.reveal-modal .modal-upload-list .row [class*="col"] {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.reveal-modal .modal-upload-list .row.upload-success [class*="col"]:nth-child(2) {
  color: #212121;
}
.reveal-modal .modal-upload-list .row.upload-add-file [class*="col"] {
  padding-top: 10px;
  padding-bottom: 25px;
}
.reveal-modal .modal-upload-list .row:last-child {
  margin-bottom: 35px;
}
.reveal-modal .modal-header,
.reveal-modal .modal-body,
.reveal-modal .modal-footer {
  border: 0;
  padding: 0;
  margin: 0;
}
.reveal-modal .modal-header {
  padding-top: 14px;
  padding-bottom: 14px;
}
.reveal-modal .modal-header h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.reveal-modal .modal-header.modal-bordered {
  border-bottom: 1px solid #dbe7f3;
}
.reveal-modal .modal-body {
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.71;
  font-size: 14px;
}
.reveal-modal .modal-footer {
  padding-top: 12px;
}
.reveal-modal .modal-footer.modal-bordered {
  border-top: 1px solid #dbe7f3;
}
.reveal-modal .modal-footer a {
 font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 48px;
   padding: 12px 8px;
}
.reveal-modal .modal-footer a:hover {
  color: #2196f3;
  text-decoration: none;
  opacity: 0.54;
}
.reveal-modal .modal-footer a.text-red {
  color: #f44336;
}
.reveal-modal .modal-footer a.text-red:hover {
  color: #f44336;
}
.reveal-modal.share-options-modal .content-left {
  padding-left: 10px;
}
.reveal-modal.share-options-modal .modal-info-text {
  font-size: 14px;
  color: #757575;
}
.modal-with-sections {
  max-width: 547px;
  width: 90%;
  padding: 0;
  display: table;
  color: #757575;
}
.modal-with-sections [class*="col"] {
  color: #757575;
}
.modal-with-sections .modal-header,
.modal-with-sections .modal-footer {
  background-color: #f8fbfe;
  padding: 20px 23px;
}
.modal-with-sections .modal-header,
.modal-with-sections .modal-body,
.modal-with-sections .modal-footer {
  float: left;
  width: 100%;
}
.modal-with-sections .modal-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #212121;
}
.modal-with-sections .modal-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
}
.modal-with-sections .modal-footer .btn {
  padding: 6px 16px;
  height: auto;
}
.modal-with-sections .modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.modal-with-sections .content-padding {
  padding-right: 10px;
  padding-left: 10px;
}
.modal-with-sections.share-modal .row {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative !important;
}
.modal-with-sections.share-modal .delete-permission {
  z-index: 10000;
}
.modal-with-sections.share-modal .delete-permission .delete-buttons {
  margin-top: 8px;
  float: right;
}
.modal-with-sections.share-modal .delete-permission .delete-buttons a {
  margin-left: 15px;
  text-transform: uppercase;
  line-height: 1.71;
  font-size: 14px;
  font-weight: 500;
}
.modal-with-sections.share-modal .delete-permission .delete-buttons a:hover {
  text-decoration: none;
}
.modal-with-sections.share-modal .share-add-user {
  padding-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbe7f3;
}
.modal-with-sections.share-modal .share-add-user .share-bubble {
  vertical-align: bottom;
}
.modal-with-sections.share-modal .share-bubble {
  width: 40px;
  height: 40px;
  background-color: #f8fbfe;
  border: solid 1px #dbe7f3;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background-size: cover;
}
.modal-with-sections.share-modal .share-bubble > div {
  margin: 8px;
  padding: 0;
}
.modal-with-sections.share-modal span {
  font-size: 16px;
  color: #212121;
}
.modal-with-sections.share-modal input {
  background: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid #dbe7f3;
  color: #212121;
  font-size: 16px;
  width: 80%;
  line-height: 25px;
}
.modal-with-sections.share-modal input:focus {
  border-bottom: 1px solid #2196f3;
}
.modal-with-sections.share-modal input::-webkit-input-placeholder,
.modal-with-sections.share-modal input:-moz-placeholder,
.modal-with-sections.share-modal input::-moz-placeholder,
.modal-with-sections.share-modal input:-ms-input-placeholder {
  color: #757575;
  font-size: 14px;
  opacity: 1;
}
.modal-with-sections.share-modal .file-not-shared {
  padding: 40px 0;
  text-align: center;
}
.modal-with-sections.share-modal .file-not-shared .ic-share {
  width: 48px;
  height: 48px;
  margin: 0;
}
.modal-with-sections.share-modal .bootstrap-select {
  margin-top: 4px;
}
.modal-with-sections.share-modal .bootstrap-select span {
  font-size: 14px;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu.open {
  margin-top: -30px;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu {
  border: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li {
  outline: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li.selected > a {
  background: #f8fbfe;
  outline: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li.selected > a:focus {
  outline: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li > a {
  padding: 12px 16px;
}
.modal-with-sections.share-modal .absolute-bg {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal-with-sections.share-options-modal label {
  font-family: 'Roboto', sans-serif;
}
.modal-with-sections.share-options-modal input {
  font-size: 16px;
  padding-right: 135px;
}
.modal-with-sections.share-options-modal .modal-date-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  text-align: right;
}
.modal-with-sections.share-options-modal .group > label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.modal-with-sections.share-options-modal .modal-info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
.modal-with-sections.share-link-modal .modal-link-text {
  padding: 10px 0;
}
.modal-with-sections.share-link-modal .both-btn-a a {
  line-height: 32px;
}
.modal-with-sections.share-link-modal .group > label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.modal-with-sections.share-link-modal .modal-info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
.modal-with-sections.share-link-modal .modal-link-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.modal-with-sections.share-delete-modal .content-bottom {
  margin-bottom: 50px;
}
.modal-with-sections.share-delete-modal .confirmation-text {
  font-size: 16px;
  color: #212121;
}
.modal-with-sections.share-delete-modal .modal-info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
.modal-with-sections.version-control-modal .vc-name,
.modal-with-sections.version-control-modal .vc-details {
  display: block;
  width: 100%;
  padding: 3px;
}
.modal-with-sections.version-control-modal .vc-name {
  color: #212121;
}
.modal-with-sections.version-control-modal .vc-details {
  color: #757575;
}
.modal-with-sections.version-control-modal .vc-type {
  padding: 14px 0;
}
.modal-with-sections.version-control-modal .vc-type .ic-download {
  margin-right: 0px;
}
.modal-with-sections.version-control-modal .vc-band {
  padding: 15px 0;
}
.modal-with-sections.version-control-modal .vc-list {
  display: block;
  width: 100%;
  padding: 10px 0;
}
.modal-bg {
  position: fixed;
  z-index: 10000;
  width: 100%;
  bottom: 1%;
  left: 0;
  display: none;
}
.modal-bg .modal-right-options {
  display: block;
  float: right;
  position: relative;
}
.modal-bg .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  /*-webkit-animation: fadeIn 1s linear forwards;
  animation: fadeIn 1s linear forwards;*/
}
.modal-bg .modal-content .modal-body {
  padding: 16px 24px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.loadingCircle {
  width: 26px!important;
  height: 26px!important;
  float: right!important;
  margin: 0!important;
}
#navigation {
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  height: 72px;
  margin-top: -72px;
  position: absolute;
  z-index: 1000;
  width: 100%;
}
#navigation #logo * {
  float: left;
}
#navigation #logo img {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 16px;
  height: 72px;
}
#navigation #logo h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  color: #ffffff;
  margin-top: 24px;
}
#navigation #menu ul {
  margin-top: 24px;
}
#navigation #menu ul li {
  float: left;
  list-style-type: none;
  margin-left: 24px;
}
#navigation #menu ul li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: white;
  text-decoration: none;
}
#page-header {
  background-color: #f8fbfe;
  padding-top: 40px;
  padding-bottom: 40px;
}
#page-header h1 {
  margin: 0;
  padding: 0;
}
.main {
  padding-top: 48px;
  padding-bottom: 48px;
}
.main form legend {
  opacity: 0.54;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
  color: #212121;
  border-bottom: none;
}
/* custom page elements */
.files-list > .row.header {
  color: #757575;
  border-bottom: 1px solid #dbe7f3;
  font-size: 14px;
}
.files-list > .row.header:hover {
  background-color: inherit;
}
.files-list > .row {
  font-size: 14px;
  cursor: pointer;
}
.files-list > .row > div {
  min-height: 48px;
  line-height: 48px;
}
.files-list > .row > div > div {
  vertical-align: middle;
}
.files-list > .row > div.name {
  font-size: 14px
}
.files-list > .row > div.name input {
  background: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  line-height: 25px;
}
.files-list > .row > div.name input:focus {
  border-bottom: 1px solid #2196f3;
}
.files-list > .row > div.name input::-webkit-input-placeholder {
  color: #757575;
  font-size: 11px;
  opacity: 1;
}
.files-list > .row > div.name input:-moz-placeholder {
  color: #757575;
  font-size: 11px;
  opacity: 1;
}
.files-list > .row > div.name input::-moz-placeholder {
  color: #757575;
  font-size: 11px;
  opacity: 1;
}
.files-list > .row > div.name input:-ms-input-placeholder {
  color: #757575;
  font-size: 11px;
  opacity: 1;
}
.files-list > .row > div.name a {
  color: inherit;
}
.files-list > .row > div.name a:hover {
  text-decoration: none;
}
.files-list > .row.active {
  background-color:  #e3f2fd;
}
.files-list .no-files {
  text-align: center;
  margin-top: 96px;
}
.files-list .no-files h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.files-list .no-files h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #757575;
}
.shared-with-me {
  /*margin-top: 20px;*/
}
.shared-with-me .row {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.shared-with-me .row .user-avatar {

  background-size: cover;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.shared-with-me .row a {
  color: inherit;
}
.notifications-list,
.recents-list {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.notifications-list > .row,
.recents-list > .row {
  padding-top: 12px;
  padding-bottom: 12px;
}
.recents-list .row.header {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
  color: #757575;
}
/* extra small */
@media (max-width: 599px) {
  body {
    padding-top: 0;
  }
  .signin-bg {
    background: inherit;
  }
  .btn {
    width: 100%;
  }
  #navigation {
    display: none;
  }
  #page-header {
    background-color: #2196f3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    min-height: 56px;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  #page-header h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: white;
    opacity: 1;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main .container {
    padding-left: 0;
    padding-right: 0;
  }
  form.bottom-btn {
    position: relative;
    min-height: calc(100vh - 110px);
    padding-bottom: 72px;
  }
  form.bottom-btn .btn {
    position: absolute;
    bottom: 10px;
  }
  .modal-bg {
    position: fixed;
    z-index: 10000;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .modal-bg,
  .modal-bg * {
    padding: 0;
    margin: 0;
  }
  .modal-bg .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #323232;
    -webkit-animation: fadeIn 1s linear forwards;
    animation: fadeIn 1s linear forwards;
  }
  .modal-bg .modal-content .modal-body {
    padding: 16px 24px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    color: white;
  }
  #signin-header {
    padding-top: 30px;
  }
  #signin-header .logo-round {
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f8fbfe;
    padding: 20px;
    width: 112px;
    height: 112px;
  }
  #signin-header .logo-round img {
    margin: 0 auto;
    height: 100%;
  }
  #signin-header h2 {
    color: #2196f3;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
  }
  #signin-header h3 {
    opacity: 0.54;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
  }
  .group .forgot-password {
    position: absolute;
    pointer-events: none;
    right: 0px;
    top: 8px;
    font-weight: bold;
    background: white;
    padding-top: 5px;
  }
}
/* /extra small */
/* small */
@media (max-width: 959px) and (min-width: 600px) {
  #page-header {
    background-color: #f8fbfe;
    padding-top: 54px;
    padding-bottom: 54px;
  }
  #page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }
}
/* /small */
/* medium */
/* /medium */
/* large */
/* /large */
/* /to medium */
@media (max-width: 960px) {
  #profile .user-name {
    display: none;
  }
}
/* /to medium */

@keyframes colors {
	0% { stroke: #2196f3; }
	25% { stroke: #2196f3; }
	50% { stroke: #2196f3; }
	75% { stroke: #2196f3; }
    100% { stroke: #2196f3; }
}

md-progress-circular path{
    animation: colors 5.6s ease-in-out infinite;
}
:focus,
:active {
  outline: none !important;
  outline-offset: 0!important;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.name a:hover {
    text-decoration: underline !important;
}

.blured{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.createFolderError{
    border-bottom-color: red !important;
}
.default-caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left:-3px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.cloud_title_name{
    font-size: 20px;
    float: left;
}
.empty-cloud {
	display: inline-block;
	width: 96px;
	height: 96px;
	background-image: url('/img/cap-cloud.svg');
}
.empty-search{
	display:inline-block;
	width:96px;
	height:96px;
	background-image: url('/img/cap-search.svg');
}
.empty-shared-with-me {
	display: inline-block;
	width: 96px;
	height: 96px;
	background-image: url('/img/cap-share.svg');
}
.modal-open {
    overflow: scroll;
}
.navbar-fixed-left {
  position: fixed;
  border-radius: 0;
  height: auto;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
}

/*.navbar-fixed-left + .container {
  padding-left: 190px;
}*/

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
.rotate_180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .operation-stop {
        display: none;
        position: absolute;
    }

    .operation-progress {
        width: 24px;
        height: 24px;
        float: right;
    }

        .operation-progress:hover .operation-stop {
            display: block;
        }

    .progress-block {
        float: right;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
	.file-list > .row.footer {
        color: #757575;
        border-top: 1px solid #dbe7f3;
        font-size: 14px;
    }

    .hover_item:hover {
        background-color: #f1f8fe;
    }
	.row{
		margin-left:0px;
		margin-right:0px;
	}
	.fixed{
		position:fixed;
	}
	/*ul.dropdown-menu.inner{
        position: fixed !important;
        left: auto !important;
        top: auto !important;
    }
    .dropdown-menu{
        min-width:85px !important;
    }*/
	.breadcrumbs-node{
		padding:0px;
	}
	.breadcrumbs-node.dropdown-menu.open{
        min-width:100px !important;
        width:250px !important;
        height: auto !important;
        max-height: 284px !important;
        overflow-y: auto;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    }
	.container-non-responsive {
	  /* Margin/padding copied from Bootstrap */
	  margin-left: auto;
	  margin-right: auto;
	  padding-left: 15px;
	  padding-right: 15px;

	  /* Set width to your desired site width */
	  width: 1024px;
	}
	.disable-actions{
		background-color:white;
		opacity:.5;
        pointer-events:none;
    }
	.btn-group>.btn:first-child {
		margin-left: -12px !important;
	}