/* Color palette */
/* Text styles */
.A1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
/* variables */
/* default styles */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 72px;
}
html,
body {
  min-height: 100%;
}
form .btn {
  height: 48px;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 10px;
}
.btn {
  border-radius: 4px;
  border-style: solid;
  vertical-align: middle;
}
.btn.btn-default {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}
.btn.btn-default:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default:focus,
.btn.btn-default:hover:focus {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
  box-shadow: none;
  outline: none;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default.btn-default-white {
  background-color: white;
  border-color: white;
  color: #2196f3;
}
.btn.btn-default.btn-default-white:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default.btn-default-white:focus,
.btn.btn-default.btn-default-white:hover:focus {
  background-color: white;
  border-color: white;
  color: #2196f3;
  box-shadow: none;
  outline: none;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-select {
  background-color: #ffffff;
  color: #212121;
  width: 100%;
  font-size: 14px;
}
.btn.btn-select:active {
  box-shadow: none;
}
.btn.btn-select:focus {
  outline: none;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
legend {
  margin-bottom: 15px;
}
a {
  color: #2196f3;
}
.top-padding {
  height: 230px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.signin-bg {
  background-image: url('/img/login-bg.jpg');
  background-position: bottom;
  background-size: cover;
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .signin-bg {
    background-image: url('/img/login-bg@2x.jpg');
  }
}
.ui-cloud-menu-selected-folder,
.ui-cloud-menu-selected-file,
.ui-cloud-menu-selected-folders,
.ui-cloud-menu-selected-files,
.ui-cloud-menu-selected-folders-files {
  display: none;
}
.text-red {
  color: #f44336 !important;
}
.text-red:hover {
  color: #f44336 !important;
}
.text-red span.text {
  color: red !important;
}
.border-bottom-blue {
  border-bottom: 1px solid #dbe7f3;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
