/* Color palette */
/* Text styles */
.A1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
/* extra small */
@media (max-width: 599px) {
  body {
    padding-top: 0;
  }
  .signin-bg {
    background: inherit;
  }
  .btn {
    width: 100%;
  }
  #navigation {
    display: none;
  }
  #page-header {
    background-color: #2196f3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    min-height: 56px;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  #page-header h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: white;
    opacity: 1;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main .container {
    padding-left: 0;
    padding-right: 0;
  }
  form.bottom-btn {
    position: relative;
    min-height: calc(100vh - 110px);
    padding-bottom: 72px;
  }
  form.bottom-btn .btn {
    position: absolute;
    bottom: 10px;
  }
  .modal-bg {
    position: fixed;
    z-index: 10000;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .modal-bg,
  .modal-bg * {
    padding: 0;
    margin: 0;
  }
  .modal-bg .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #323232;
    -webkit-animation: fadeIn 1s linear forwards;
    animation: fadeIn 1s linear forwards;
  }
  .modal-bg .modal-content .modal-body {
    padding: 16px 24px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    color: white;
  }
  #signin-header {
    padding-top: 30px;
  }
  #signin-header .logo-round {
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f8fbfe;
    padding: 20px;
    width: 112px;
    height: 112px;
  }
  #signin-header .logo-round img {
    margin: 0 auto;
    height: 100%;
  }
  #signin-header h2 {
    color: #2196f3;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
  }
  #signin-header h3 {
    opacity: 0.54;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #000000;
  }
  .group .forgot-password {
    position: absolute;
    pointer-events: none;
    right: 0px;
    top: 8px;
    font-weight: bold;
    background: white;
    padding-top: 5px;
  }
}
/* /extra small */
/* small */
@media (max-width: 959px) and (min-width: 600px) {
  #page-header {
    background-color: #f8fbfe;
    padding-top: 54px;
    padding-bottom: 54px;
  }
  #page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }
}
/* /small */
/* medium */
/* /medium */
/* large */
/* /large */
/* /to medium */
@media (max-width: 960px) {
  #profile .user-name {
    display: none;
  }
}
/* /to medium */
