/* Color palette */
/* Text styles */
.A1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.m-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.m-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  padding: 0 15px;
  color: #212121;
}
.m-menu li a:hover,
.m-menu li a:focus {
  color: inherit;
  background-color: rgba(227, 242, 253, 0.5);
  text-decoration: none;
}
.m-menu li a .ui-icon {
  vertical-align: middle;
}
.m-menu li.active > a {
  color: #2196f3;
}
.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
}
.mobile-menu.trans {
  background: rgba(0, 0, 0, 0.2);
}
.mobile-menu .container {
  margin: 0;
  width: 85%;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
}
.mobile-menu .container .menu-logo {
  background: #f8fbfe;
  color: #2196f3;
  height: 120px;
}
.mobile-menu .container .menu-logo img {
  float: left;
  margin-top: 25px;
  margin-left: 19px;
}
.mobile-menu .container .menu-logo h3 {
  float: left;
  margin-top: 45px;
  margin-left: 19px;
}
.mobile-menu .container .menu-left {
  position: absolute;
  top: 120px;
  bottom: 0;
  padding: 15px;
  overflow-y: auto;
}
