/* Color palette */
/* Text styles */
.A1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
/* variables */
/* default styles */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 72px;
}
html,
body {
  min-height: 100%;
}
form .btn {
  height: 48px;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 10px;
}
.btn {
  border-radius: 4px;
  border-style: solid;
  vertical-align: middle;
}
.btn.btn-default {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}
.btn.btn-default:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default:focus,
.btn.btn-default:hover:focus {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
  box-shadow: none;
  outline: none;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default.btn-default-white {
  background-color: white;
  border-color: white;
  color: #2196f3;
}
.btn.btn-default.btn-default-white:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-default.btn-default-white:focus,
.btn.btn-default.btn-default-white:hover:focus {
  background-color: white;
  border-color: white;
  color: #2196f3;
  box-shadow: none;
  outline: none;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-select {
  background-color: #ffffff;
  color: #212121;
  width: 100%;
  font-size: 14px;
}
.btn.btn-select:active {
  box-shadow: none;
}
.btn.btn-select:focus {
  outline: none;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
legend {
  margin-bottom: 15px;
}
a {
  color: #2196f3;
}
.top-padding {
  height: 230px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.signin-bg {
  background-image: url('/img/login-bg.jpg');
  background-position: bottom;
  background-size: cover;
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .signin-bg {
    background-image: url('/img/login-bg@2x.jpg');
  }
}
.ui-cloud-menu-selected-folder,
.ui-cloud-menu-selected-file,
.ui-cloud-menu-selected-folders,
.ui-cloud-menu-selected-files,
.ui-cloud-menu-selected-folders-files {
  display: none;
}
.text-red {
  color: #f44336 !important;
}
.text-red:hover {
  color: #f44336 !important;
}
.text-red span.text {
  color: red !important;
}
.border-bottom-blue {
  border-bottom: 1px solid #dbe7f3;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
#upload-popup .reveal-modal {
  width: 500px;
}
.middle-popup {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;
  display: none;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 100000000;
}
.middle-popup:target {
  visibility: visible;
  display: block;
}
.reveal-modal {
  position: relative;
  margin: 0 auto;
  top: 15%;
  background: #ffffff;
  width: 326px;
  border-radius: 4px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
  padding: 8px 24px;
}
.reveal-modal.upload-modal {
  max-width: 500px!important;
  width: 90%!important;
  padding-top: 4px;
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 0px;
}
.reveal-modal.upload-modal .modal-header {
  padding: 14px 24px;
}
.reveal-modal.upload-modal .modal-footer {
  padding: 14px 24px;
}
.reveal-modal.upload-modal .modal-body {
  padding: 14px 24px 0 24px;
}
.reveal-modal .modal-upload-list {
  padding: 5px 0 10px 0;
}
.reveal-modal .modal-upload-list .row [class*="col"] {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.reveal-modal .modal-upload-list .row.upload-success [class*="col"]:nth-child(2) {
  color: #212121;
}
.reveal-modal .modal-upload-list .row.upload-add-file [class*="col"] {
  padding-top: 10px;
  padding-bottom: 25px;
}
.reveal-modal .modal-upload-list .row:last-child {
  margin-bottom: 35px;
}
.reveal-modal .modal-header,
.reveal-modal .modal-body,
.reveal-modal .modal-footer {
  border: 0;
  padding: 0;
  margin: 0;
}
.reveal-modal .modal-header {
  padding-top: 14px;
  padding-bottom: 14px;
}
.reveal-modal .modal-header h2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.reveal-modal .modal-header.modal-bordered {
  border-bottom: 1px solid #dbe7f3;
}
.reveal-modal .modal-body {
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.71;
  font-size: 14px;
}
.reveal-modal .modal-footer {
  padding-top: 12px;
}
.reveal-modal .modal-footer.modal-bordered {
  border-top: 1px solid #dbe7f3;
}
.reveal-modal .modal-footer a {
  padding: 4px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
}
.reveal-modal .modal-footer a:hover {
  color: #2196f3;
  text-decoration: none;
  opacity: 0.54;
}
.reveal-modal .modal-footer a.text-red {
  color: #f44336;
}
.reveal-modal .modal-footer a.text-red:hover {
  color: #f44336;
}
.reveal-modal.share-options-modal .content-left {
  padding-left: 10px;
}
.reveal-modal.share-options-modal .modal-info-text {
  font-size: 14px;
  color: #757575;
}
.modal-with-sections {
  max-width: 547px;
  width: 90%;
  padding: 0;
  display: table;
  color: #757575;
}
.modal-with-sections [class*="col"] {
  color: #757575;
}
.modal-with-sections .modal-header,
.modal-with-sections .modal-footer {
  background-color: #f8fbfe;
  padding: 20px 23px;
}
.modal-with-sections .modal-header,
.modal-with-sections .modal-body,
.modal-with-sections .modal-footer {
  float: left;
  width: 100%;
}
.modal-with-sections .modal-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #212121;
}
.modal-with-sections .modal-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
}
.modal-with-sections .modal-footer .btn {
  padding: 6px 16px;
  height: auto;
}
.modal-with-sections .modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.modal-with-sections .content-padding {
  padding-right: 10px;
  padding-left: 10px;
}
.modal-with-sections.share-modal .row {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative !important;
}
.modal-with-sections.share-modal .delete-permission {
  z-index: 10000;
}
.modal-with-sections.share-modal .delete-permission .delete-buttons {
  margin-top: 8px;
  float: right;
}
.modal-with-sections.share-modal .delete-permission .delete-buttons a {
  margin-left: 15px;
  text-transform: uppercase;
  line-height: 1.71;
  font-size: 14px;
  font-weight: 500;
}
.modal-with-sections.share-modal .delete-permission .delete-buttons a:hover {
  text-decoration: none;
}
.modal-with-sections.share-modal .share-add-user {
  padding-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbe7f3;
}
.modal-with-sections.share-modal .share-add-user .share-bubble {
  vertical-align: bottom;
}
.modal-with-sections.share-modal .share-bubble {
  width: 40px;
  height: 40px;
  background-color: #f8fbfe;
  border: solid 1px #dbe7f3;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background-size: cover;
}
.modal-with-sections.share-modal .share-bubble > div {
  margin: 8px;
  padding: 0;
}
.modal-with-sections.share-modal span {
  font-size: 16px;
  color: #212121;
}
.modal-with-sections.share-modal input {
  background: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid #dbe7f3;
  color: #212121;
  font-size: 16px;
  width: 80%;
  line-height: 25px;
}
.modal-with-sections.share-modal input:focus {
  border-bottom: 1px solid #2196f3;
}
.modal-with-sections.share-modal input::-webkit-input-placeholder,
.modal-with-sections.share-modal input:-moz-placeholder,
.modal-with-sections.share-modal input::-moz-placeholder,
.modal-with-sections.share-modal input:-ms-input-placeholder {
  color: #757575;
  font-size: 14px;
  opacity: 1;
}
.modal-with-sections.share-modal .file-not-shared {
  padding: 40px 0;
  text-align: center;
}
.modal-with-sections.share-modal .file-not-shared .ic-share {
  width: 48px;
  height: 48px;
  margin: 0;
}
.modal-with-sections.share-modal .bootstrap-select {
  margin-top: 4px;
}
.modal-with-sections.share-modal .bootstrap-select span {
  font-size: 14px;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu.open {
  margin-top: -30px;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu {
  border: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li {
  outline: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li.selected > a {
  background: #f8fbfe;
  outline: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li.selected > a:focus {
  outline: none;
}
.modal-with-sections.share-modal .bootstrap-select .dropdown-menu > li > a {
  padding: 12px 16px;
}
.modal-with-sections.share-modal .absolute-bg {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal-with-sections.share-options-modal label {
  font-family: 'Roboto', sans-serif;
}
.modal-with-sections.share-options-modal input {
  font-size: 16px;
  padding-right: 135px;
}
.modal-with-sections.share-options-modal .modal-date-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  text-align: right;
}
.modal-with-sections.share-options-modal .group > label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.modal-with-sections.share-options-modal .modal-info-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
.modal-with-sections.share-link-modal .modal-link-text {
  padding: 10px 0;
}
.modal-with-sections.share-link-modal .both-btn-a a {
  line-height: 32px;
}
.modal-with-sections.share-link-modal .group > label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.modal-with-sections.share-link-modal .modal-info-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
.modal-with-sections.share-link-modal .modal-link-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.modal-with-sections.share-delete-modal .content-bottom {
  margin-bottom: 50px;
}
.modal-with-sections.share-delete-modal .confirmation-text {
  font-size: 16px;
  color: #212121;
}
.modal-with-sections.share-delete-modal .modal-info-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}
.modal-with-sections.version-control-modal .vc-name,
.modal-with-sections.version-control-modal .vc-details {
  display: block;
  width: 100%;
  padding: 3px;
}
.modal-with-sections.version-control-modal .vc-name {
  color: #212121;
}
.modal-with-sections.version-control-modal .vc-details {
  color: #757575;
}
.modal-with-sections.version-control-modal .vc-type {
  padding: 14px 0;
}
.modal-with-sections.version-control-modal .vc-type .ic-download {
  margin-right: 0px;
}
.modal-with-sections.version-control-modal .vc-band {
  padding: 15px 0;
}
.modal-with-sections.version-control-modal .vc-list {
  display: block;
  width: 100%;
  padding: 10px 0;
}
.modal-bg {
  position: fixed;
  z-index: 10000;
  width: 100%;
  bottom: 5%;
  left: 0;
  display: none;
}
.modal-bg .modal-right-options {
  display: block;
  float: right;
  position: relative;
}
.modal-bg .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-animation: fadeIn 1s linear forwards;
  animation: fadeIn 1s linear forwards;
}
.modal-bg .modal-content .modal-body {
  padding: 16px 24px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.loadingCircle {
  width: 26px!important;
  height: 26px!important;
  float: right!important;
  margin: 0!important;
}
