@import "styleguide";

#profile {
  &>.dropdown>div {
    float: left;
  }
  .user-name {
    cursor: pointer;
    display: block;
    width: auto;
    height: 45px;
    line-height: 45px;
    margin-top: 14px;
    padding: 0 15px;
    color: white;
  }
  .avatar {
    margin: 14px 0 0 0;
    cursor: pointer;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
  .dropdown-menu {
    width: 225px;
    margin: 80px 0 0 0;
    border: none;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.5);
    .dropdown-triangle {
      position: absolute;
      top: -5px;
      right: 15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 5px 8px;
      border-color: transparent transparent white transparent;
    }
    li {
      padding: 0;
      a {
        padding: 15px 15px;
        span:first-child {
          margin-right: 15px;
        }
        &:hover {
          background: rgba(227, 242, 253, 0.5);
        }
      }
      &.normal {
        span:first-child {
          color: @blue;
        }
        &:hover {
          span {
            color: @blue;
          }
        }
      }
      &.logout {
        span:first-child {
          color: @red;
        }
        &:hover {
          span {
            color: @red;
          }
        }
      }
    }
  }
}

#search {
  width: 206px;
  height: 35px;
  margin: 18px 0 0 25px;
  .search {
    input {
      outline: none;
      display: block;
      float: left;
      background: none;
      border: 1px solid @searchBorder;
      color: @white;
      height: 35px;
      width: 174px;
      border-radius: 3px;
      padding: 0 10px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      &.search-active {
        border: 1px solid white!important;
      }
      &::-webkit-input-placeholder {
        color:    @white;
        opacity:  0.54;
      }
      &:-moz-placeholder {
        color:    @white;
        opacity:  0.54;
      }
      &::-moz-placeholder {
        color:    @white;
        opacity:  0.54;
      }
      &:-ms-input-placeholder {
        color:    @white;
        opacity:  0.54;
      }
    }
  }
  .search-btn {
    outline: none;
    width: 32px;
    display: block;
    float: left;
    border: none;
    height: 35px;
    background: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #99cef9;
    border-left: hidden;
    &.search-btn-active {
      background: white!important;
      border: 1px solid white!important;
    }
    .bt-search2 {
      width: 16px;
      height: 16px;
      margin: 5px 0 0 0;
      &.bt-search2-active {
        width: 16px;
        height: 16px;
        margin: 5px 0 0 -1px;
      }
    }
  }
}

.select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  .name {
    font-size: 21px;
    float: left;
    margin-top: 15px;
  }
  .options {
    list-style-type: none;
    float: right;
    .option,
    .option-red {
      float: left;
    }
    .option {
      color: #2196f3;
      padding: 10px 20px;
      a {
        color: #2196f3;
      }
      a {
        &:hover, &:focus {
          text-decoration: none;
          color: #2196f3;
          opacity: 0.54;
        }
      }
    }
    .option-red {
      color: #f55449;
      padding-top: 10px;
      a {
        color: #f55449;
      }
      a {
        &:hover {
          text-decoration: none;
          color: #f55449;
        }
      }
    }
  }
}

.main-cloud {
  padding-top: 25px;
  padding-bottom: 25px;
}

.table>thead>tr>th {
  border-bottom: 1px solid #e0e0e0!important;
}

.table>tbody>tr>td {
  border-top: 0px solid white;
}

.table-responsive {
  border: none;
}