@import "styleguide";

.group {
  position:relative;
  margin-top: 30px;
  margin-bottom: 36px;
  input, textarea {
    padding: 5px 5px 2px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: @black;
    background: inherit;



    &:focus {
      outline: none;
      border-color: @blue;
    }
    &:focus ~ label, .ng-not-empty ~ label {
      top:-15px;
      font-size:14px;
    }
  }

  label {
    position:absolute;
    pointer-events:none;
    left:0px;
    top:14px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;

    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    color: @warmGrey;
  }


  &.has-error {
    input, textarea {
      &:focus {
        border-color: @red;
      }
    }
    label {
      opacity: 1;
      color: @red;
    }
  }
}