/* header icons */

.ic-back, .ic-menu {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 36px;
}

.ic-back {
  background-image: url('/img/ic-arrow-down.svg');
  transform: rotate(90deg);
}
.ic-menu {
  background-image: url('/img/ic-menu.svg');
}

/* cloud menu */

.bt-cloud, .bt-share, .bt-recent, .bt-bell, .bt-cloud-filled, .bt-share-filled, .bt-recent-filled, .bt-bell-filled, .bt-search, .bt-search2 {
  display: inline-block;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.bt-search {
  background-image: url('/img/ic-search.svg');
}
.bt-search2 {
  background-image: url('/img/ic-search2.svg');
  &.bt-search2-active {
    background-image: url('/img/ic-search-active.svg');
  }
}
.bt-cloud {
  background-image: url('/img/ic-cloud.svg');
}
.bt-share {
  background-image: url('/img/ic-share.svg');
}
.bt-recent {
  background-image: url('/img/ic-recent.svg');
}
.bt-bell {
  background-image: url('/img/ic-bell.svg');
}
.bt-cloud-filled {
  background-image: url('/img/ic-cloud-active.svg');
}
.bt-share-filled {
  background-image: url('/img/ic-share-active.svg');
}
.bt-recent-filled {
  background-image: url('/img/ic-recent-active.svg');
}
.bt-bell-filled {
  background-image: url('/img/ic-bell-active.svg');
}

/* file list */
.ic-folder, .ic-file  {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.ic-folder {
  background-image: url('/img/ic-folder.svg');
}
.ic-file {
  background: url('/img/ic-file.svg');
}

/* cloud options */
.ic-delete, .ic-exit, .ic-rename, .ic-share, .ic-download, .ic-add-file, .ic-add-folder, .ic-arrow-down, .ic-info, .ic-sign-up, .ic-sign-in, .ic-settings, .ic-done, .ic-file-uploading, .ic-loading, .ic-cancel, .ic-date, .ic-file-image, .ic-add, .ic-minimize {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.ic-file-image {
  background-image: url('/img/ic-file-image.svg');
  margin-top: -3px;
}
.ic-minimize {
  width: 18px;
  border-bottom: 1px solid @blue;
  margin-top: -12px;
}
.ic-date {
  background-image: url('/img/ic-date.svg');
  margin-top: -3px;
}
.ic-done {
  background-image: url('/img/ic-done.svg');
  margin-right: 0px;
}
.ic-file-uploading {
  background-image: url('/img/ic-file-uploading.svg');
  margin-top: -5px;
}
.ic-loading {
  background-image: url('/img/ic-loading.svg');
  margin-right: 0px;
}
.ic-delete {
  background-image: url('/img/ic-delete.svg');
}
.ic-rename {
  background-image: url('/img/ic-edit.svg');
}
.ic-share {
  background-image: url('/img/ic-share.svg');
}
.ic-download {
  background-image: url('/img/ic-download.svg');
}
.ic-add-file {
  background-image: url('/img/ic-add-file.svg');
}
.ic-add-folder {
  background-image: url('/img/ic-add-folder.svg');
}

.ic-arrow-down {
  background-image: url('/img/ic-arrow-down.svg');
}

.ic-info {
  background-image: url('/img/ic-info.svg');
}
.ic-sign-up {
  background-image: url('/img/ic-sign-up.svg');
}
.ic-sign-in {
  background-image: url('/img/ic-sign-in.svg');
}
.ic-exit {
  background-image: url('/img/ic-exit.svg');
}
.ic-settings {
  background-image: url('/img/ic-settings.svg');
}

.ic-cancel {
  background-image: url('/img/ic-cancel.svg');
  margin-right: 0;
}
.ic-add {
  background-image: url('/img/ic-add.svg');
}

.svg-test-class {
  width: 24px;
  height: 24px;
  display: inline-block;
}