@import "styleguide";
@import "incrypta-default";
@import "float-labels";
@import "cloud";
@import "menu";
@import "icons";
@import "modal";

#navigation {
  background-color: @blue;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  height: @navigation-height;
  margin-top: -@navigation-height;
  position: absolute;
  z-index: 1000;
  width: 100%;

  #logo {
    * {
      float: left;
    }
    img {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 8px;
      padding-right: 16px;
      height: 72px;
    }
    h3 {
      .A2;
      color: @white;
      margin-top: 24px;
    }
  }

  #menu {
    ul {
      margin-top: 24px;
      li {
        float: left;
        list-style-type: none;
        margin-left: 24px;
        a {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

#page-header {
  background-color: @bgStart;
  padding-top: 80px;
  padding-bottom: 80px;
  h1 {
    margin: 0;
    padding: 0;
  }
}

.main {
  padding-top: 48px;
  padding-bottom: 48px;
  form legend {
    opacity: 0.54;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    text-align: left;
    color: @black;
    border-bottom: none;
  }
}

/* custom page elements */

.files-list {
  &>.row.header {
    color: @warmGrey;
    border-bottom: 1px solid @sepLine;
    font-size: 14px;

    &:hover {
      background-color: inherit;
    }
  }
  &>.row {
    font-size: 14px;
    cursor: pointer;

    &>div {
      min-height: 48px;
      line-height: 48px;

      &>div {
        vertical-align: middle;
      }


      &.name {
        font-size: 16px;
        input {
          background: inherit;
          border: none;
          outline: none;
          border-bottom: 1px solid rgba(0,0,0,0);
          width: 100%;
          line-height: 25px;
          &:focus {
            border-bottom: 1px solid @blue;
          }

          &::-webkit-input-placeholder {
            color:    @warmGrey;
            font-size: 11px;
            opacity:  1;
          }
          &:-moz-placeholder {
            color:    @warmGrey;
            font-size: 11px;
            opacity:  1;
          }
          &::-moz-placeholder {
            color:    @warmGrey;
            font-size: 11px;
            opacity:  1;
          }
          &:-ms-input-placeholder {
            color:    @warmGrey;
            font-size: 11px;
            opacity:  1;
          }
        }
        a {
          color: inherit;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &.active {
      background-color: @hover;
    }
  }
  .no-files {
    text-align: center;
    margin-top: 76px;
    h1 {
      .A1;
    }
    h4 {
      .B1;
      color: @warmGrey;
    }
  }
}

.shared-with-me {
  margin-top: 20px;
  .row {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;

    .user-avatar {
      background-size: cover;
      margin-right: 12px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
    a {
      color: inherit;
    }
  }
}

.notifications-list, .recents-list {
  .B1;
  &>.row {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.recents-list {
  .row.header {
    .C3;
    color: @warmGrey;
  }
}

@import "media";

@keyframes colors {
	0% { stroke: #2196f3; }
	25% { stroke: #2196f3; }
	50% { stroke: #2196f3; }
	75% { stroke: #2196f3; }
    100% { stroke: #2196f3; }
}

md-progress-circular path{
    animation: colors 5.6s ease-in-out infinite;
}
:focus {
    outline: none;
}