@import "styleguide";


/* variables */
@navigation-height: 72px;
/* default styles */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: @navigation-height;
}
html, body {
  min-height: 100%;
}

form .btn {
  height: 48px;
  padding-left: 45px;
  padding-right: 45px;
  margin-right: 10px;
}

.btn {
  border-radius: 4px;
  border-style: solid;
  vertical-align: middle;

  &.btn-default {
    background-color: @blue;
    border-color: @blue;
    color: white;
    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    &:focus, &:hover:focus {
      background-color: @blue;
      border-color: @blue;
      color: white;
      box-shadow: none;
      outline: none;
      box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    &.btn-default-white {
      background-color: white;
      border-color: white;
      color: @blue;
      &:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
      }
      &:focus, &:hover:focus {
        background-color: white;
        border-color: white;
        color: @blue;
        box-shadow: none;
        outline: none;
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24), inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
  &.btn-select {
    background-color: @white;
    color: @black;
    width: 100%;
    font-size: 14px;
    &:active {
      box-shadow: none;
    }
    &:focus {
      outline: none;
    }
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}


legend {
  margin-bottom: 15px;
}

a {
  color: @blue;
}

.top-padding {
  height: 230px;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.signin-bg {
  background-image: url('/img/login-bg.jpg');
  background-position: bottom;
  background-size: cover;
}
/* for high resolution display */

@media  only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
  .signin-bg {
    background-image: url('/img/login-bg@2x.jpg');
  }
}

.ui-cloud-menu-selected-folder,
.ui-cloud-menu-selected-file,
.ui-cloud-menu-selected-folders,
.ui-cloud-menu-selected-files,
.ui-cloud-menu-selected-folders-files {
  display: none;
}

.text-red {
  color: @red !important;
  &:hover {
    color: @red !important;
  }
  span.text {
    color: red !important;
  }
}

.border-bottom-blue {
  border-bottom: 1px solid @sepLine;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}