@import "styleguide";

@screen-xs:                  360px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;
@screen-sm:                  600px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;
@screen-md:                  960px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;
@screen-lg:                  1024px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

/* extra small */
@media(max-width: @screen-xs-max) {
  body {
    padding-top: 0;
  }

  .signin-bg {
    background: inherit;
  }

  .btn {
    width: 100%;
  }

  #navigation {
    display: none;
  }
  #page-header {
    background-color: @blue;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    min-height: 56px;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    h1 {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: white;
      opacity: 1;
    }
  }

  .main {
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  form.bottom-btn {
    position: relative;
    min-height: calc(~'100vh - 110px');
    padding-bottom: 72px;

    .btn {
      position: absolute;
      bottom: 10px;
    }
  }

  .modal-bg {
    position: fixed;
    z-index: 10000;
    width: 100%;
    bottom: 0;
    left: 0;
    &, & * {
      padding: 0;
      margin: 0;
    }

    .modal-content {
      position: relative;
      margin: auto;
      padding: 0;
      width: 100%;

      border: none;
      border-radius: 0px;
      background-color: #323232;

      /*-webkit-animation: fadeIn 1s linear forwards;
      animation: fadeIn 1s linear forwards;*/
      .modal-body {
        padding: 16px 24px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        color: white;
      }

    }
  }

  #signin-header {
    padding-top: 30px;

    .logo-round {
      margin: 0 auto;
      border-radius: 50%;
      background-color: #f8fbfe;
      padding: 20px;
      width: 112px;
      height: 112px;
      img {
        margin: 0 auto;
        height: 100%;
      }
    }
    h2 {
      color: @blue;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
    }
    h3 {
      opacity: 0.54;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #000000;
    }
  }

  .group .forgot-password {
    position:absolute;
    pointer-events:none;
    right:0px;
    top:8px;
    font-weight: bold;
    background: white;
    padding-top: 5px;
  }

}
/* /extra small */


/* small */
@media(max-width: @screen-sm-max) and (min-width: @screen-sm) {
  #page-header {
    background-color: #f8fbfe;
    padding-top: 54px;
    padding-bottom: 54px;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 40px;
    }
  }
}
/* /small */


/* medium */
@media(max-width: @screen-md-max) and (min-width: @screen-md) {

}
/* /medium */


/* large */
@media(min-width: @screen-lg) {

}
/* /large */

/* /to medium */
@media(max-width: @screen-md){
  #profile {
    .user-name {
      display: none;
    }
  }
}
/* /to medium */