@import "styleguide";

.m-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 48px;
      padding: 0 15px;
      color: @black;
      &:hover,
      &:focus {
        color: inherit;
        background-color: fade(@select, 50%);
        text-decoration: none;
      }
      .ui-icon {
        vertical-align: middle;
      }
    }
    &.active > a {
      color: @blue;
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
  left: 0;

  &.trans {
    background: rgba(0,0,0,0.2);
  }
  .container {
    margin: 0;
    width: 85%;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    .menu-logo {
      background: @bgStart;
      color: @blue;
      height: 120px;
      img {
        float: left;
        margin-top: 25px;
        margin-left: 19px;
      }
      h3 {
        float: left;
        margin-top: 45px;
        margin-left: 19px;
      }
    }
    .menu-left {
      position: absolute;
      top: 120px;
      bottom:0;
      padding: 15px;
      overflow-y: auto;
    }
  }
}