@import "styleguide";
@import "incrypta-default";

#upload-popup {
  .reveal-modal {
    width: 500px;
  }
}

.middle-popup {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  visibility: hidden;
  display: none;
  background-color: rgba(22,22,22,0.5);
  z-index: 100000000;
}
.middle-popup:target {
  visibility: visible;
  display: block;
}
.reveal-modal {
  position: relative;
  margin: 0 auto;
  top: 15%;
  background: @white;
  width: 326px;
  border-radius: 4px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
  padding: 8px 24px;

  &.upload-modal {
    max-width: 500px!important;
    width: 90%!important;
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    .modal-header {
      padding: 14px 24px;
    }
    .modal-footer {
      padding: 14px 24px;
    }
    .modal-body {
      padding: 14px 24px 0 24px;
    }
  }

  .modal-upload-list {
    padding: 5px 0 10px 0;
    .row {
      [class*="col"]{
        padding-top: 8px;
        padding-bottom: 8px;
        color: @warmGrey;
        .B1;
      }
      &.upload-success {
        [class*="col"]:nth-child(2) {
          color: @black;
        }
      }
      &.upload-add-file {
        [class*="col"]{
          padding-top: 10px;
          padding-bottom: 25px;
        }
      }
      &:last-child {
        margin-bottom: 35px;
      }
    }
  }
  .modal-header, .modal-body, .modal-footer {
    border: 0;
    padding: 0;
    margin: 0;
  }
  .modal-header {
    padding-top: 14px;
    padding-bottom: 14px;
    h2 {
      padding: 0;
      margin: 0;
      font-size: 20px;
    }
    &.modal-bordered {
      border-bottom: 1px solid @sepLine;
    }
  }
  .modal-body {
    color: rgba(0,0,0, 0.54);
    line-height: 1.71;
    font-size: 14px;
  }
  .modal-footer {
    padding-top: 12px;
    &.modal-bordered {
      border-top: 1px solid @sepLine;
    }
    a {
      padding: 4px;
      margin-left: 12px;
      font-size: 16px;
      font-weight: 500;
      &:hover {
        color: @blue;
        text-decoration: none;
        opacity: 0.54;
      }
      &.text-red {
        color: @red;
        &:hover {
          color: @red;
        }
      }
    }
  }
  &.share-options-modal {
    .content-left {
      padding-left: 10px;
    }
    .modal-info-text {
      font-size: 14px;
      color: @warmGrey;
    }
  }
}
.modal-with-sections {
  max-width: 547px;
  width: 90%;
  padding: 0;
  display: table;
  color: @warmGrey;
  [class*="col"] {
    color: @warmGrey;
  }
  .modal-header, .modal-footer {
    background-color: @bgStart;
    padding: 20px 23px;
  }
  .modal-header, .modal-body, .modal-footer {
    float: left;
    width: 100%;
  }
  .modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: @black;
  }
  .modal-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
    .btn {
      padding: 6px 16px;
      height: auto;
    }
  }
  .modal-body {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  .content-padding {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.modal-with-sections.share-modal {
  .row {
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative !important;
  }
  .delete-permission {
    z-index: 10000;
    .delete-buttons {
      margin-top: 8px;
      float: right;

      a {
        margin-left: 15px;
        text-transform: uppercase;
        line-height: 1.71;
        font-size: 14px;
        font-weight: 500;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .share-add-user {
    padding-top: 0;
    padding-bottom: 10px;
    .border-bottom-blue;
    .share-bubble {
      vertical-align: bottom;
    }
  }
  .share-bubble {
    width: 40px;
    height: 40px;
    background-color: @bgStart;
    border: solid 1px @sepLine;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background-size: cover;
    &>div {
      margin: 8px;
      padding: 0;
    }
  }
  span {
    font-size: 16px;
    color: @black;
  }
  input {
    background: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid @sepLine;
    color: @black;
    font-size: 16px;
    width: 80%;
    line-height: 25px;
    &:focus {
      border-bottom: 1px solid @blue;
    }
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      color:    @warmGrey;
      font-size: 14px;
      opacity:  1;
    }
  }
  .file-not-shared {
    padding: 40px 0;
    text-align: center;
    .ic-share {
      width: 48px;
      height: 48px;
      margin: 0;
    }
  }

  .bootstrap-select {
    margin-top: 4px;
    span {
      font-size: 14px;
    }
    .dropdown-menu.open {
      margin-top: -30px;
    }
    .dropdown-menu {
      border: none;
      &>li {
        outline: none;

        &.selected>a {
          background: @bgStart;
          outline: none;
          &:focus {
            outline: none;
          }
        }
        &>a {
          padding: 12px 16px;
        }
      }
    }
  }
  .absolute-bg {
    position: absolute;
    background: rgba(255,255,255, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.modal-with-sections.share-options-modal {
  label {
    font-family: 'Roboto', sans-serif;
  }
  input {
    font-size: 16px;
    padding-right: 135px;
  }
  .modal-date-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    text-align: right;
  }
  .group > label {
    .C1;
  }
  .modal-info-text {
    .C3;
  }
}

.modal-with-sections.share-link-modal {
  .modal-link-text {
    padding: 10px 0;
  }
  .both-btn-a {
    a {
      line-height: 32px;
    }
  }
  .group > label {
    .C1;
  }
  .modal-info-text {
    .C3;
  }
  .modal-link-text {
    .B1;
  }
}

.modal-with-sections.share-delete-modal {
  .content-bottom {
    margin-bottom: 50px;
  }
  .confirmation-text {
    font-size: 16px;
    color: @black;
  }
  .modal-info-text {
    .C3;
  }
}

.modal-with-sections.version-control-modal {
  .vc-name,
  .vc-details {
    display: block;
    width: 100%;
    padding: 3px;
  }
  .vc-name {
    color: @black;
  }
  .vc-details {
    color: @warmGrey;
  }
  .vc-type {
    padding: 14px 0;
    .ic-download {
      margin-right: 0px;
    }
  }
  .vc-band {
    padding: 15px 0;
  }
  .vc-list {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}


.modal-bg {
  position: fixed;
  z-index: 10000;
  width: 100%;
  bottom: 5%;
  left: 0;
  display: none;

  .modal-right-options {
    display: block;
    float: right;
    position: relative;
  }

  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;

    border: none;
    border-radius: 2px;
    background-color: @white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);

    -webkit-animation: fadeIn 1s linear forwards;
    animation: fadeIn 1s linear forwards;
    .modal-body {
      padding: 16px 24px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
    }

  }
}

.loadingCircle {
  width: 26px!important;
  height: 26px!important;
  float: right!important;
  margin: 0!important;
}