/* Color palette */
  @blue: #2196f3;
  @black: #212121;
  @red: #f44336;
  @select: #e3f2fd;
  @warmGrey: #757575;
  @sepLine: #dbe7f3;
  @searchBorder: #99cef9;
  @white: #ffffff;
  @bgStart: #f8fbfe;
  @hover: #f1f8fe;

/* Text styles */
.A1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.A2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
}
.A3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
}
.B1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
}
.B2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}
.C1 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
}
.C2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: right;
}

.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
}

.C3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1 {
  .A1;
}

h2 {
  .A2;
}

h3 {
  .A3;
}

