﻿<div class="container-fluid" id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2">
                <div class="ic-back visible-xs"></div>
                <h1>Forgot password?</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main" ng-controller="LoginController as login">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="login.form" ng-submit="login.sendPasswordHint()" class="bottom-btn" novalidate autocomplete="off" ng-hide="login.hintMessage">
                    <legend>
                        Please input your email. We will send you a letter with a hint you`ve entered before.
                    </legend>

                    <div class="group" ng-class="{'has-error': login.form.$invalid && login.form.$dirty}">
                        <input ng-model="login.email"
                               type="text"
                               name="email"
                               pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                               required
                                ng-model-options="{ updateOn: 'blur' }" />
                        <label>Email</label>
                    </div>
                    <button class="btn btn-default" type="submit" ng-hide="login.loading">{{'Send'|translate}}</button>
                    <div class="row" ng-show="login.loading">
                        <div class="col-xs-12">
                            <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
