﻿<style>
    .Link-is-invalid {
      width: 120px;
      height: 24px;
      'Roboto', sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      text-align: center;
      color: #212121;
    }
    .Check-the-correction {
      width: 196px;
      height: 48px;
      'Roboto', sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      color: #757575;
      text-align: center;
    }
</style>
<div ng-show="vm_publicfile.loading">
    <div class="container-fluid top-padding hidden-xs hidden-sm" style="padding-top:300px !important"></div>
    <div class="container-fluid main">
        <div class="container">
            <div class="row">
                <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
            </div>
        </div>
    </div>
</div>
<div ng-show="vm_publicfile.notFound && !vm_publicfile.loading">
    <div class="container-fluid top-padding hidden-xs hidden-sm" style="padding-top:300px !important"></div>
    <div class="container-fluid main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <img src="/img/cap-public-share.svg" class="center-block" />
                    <p class="Link-is-invalid center-block">Link is invalid</p>
                    <p class="Check-the-correction center-block">Check the correction of the link, or ask owner for new one.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="vm_publicfile.notFound || vm_publicfile.loading">
    <div class="container-fluid" id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2">
                    <div class="visible-xs" style="float: left; margin-right: 36px;"><img src="/img/ic-file-adobe.svg" style="width:36px; height:36px" /></div>
                    <div class="pull-left hidden-xs" style="width:48px; height:48px; margin-top: 10px;"><img src="/img/ic-file-adobe.svg" style="width:48px; height:48px" /></div>
                    <h1>{{vm_publicfile.fileInfo.Name}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="bottom-btn" novalidate autocomplete="off" >
                        <div class="group">
                            <div class="pull-left" style="margin-left: -40px; margin-top:-10px;">
                                <img src="/img/ic-date-grey.svg" />
                            </div>
                            <div>
                                <span style="'Roboto', sans-serif;  font-size: 16px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.5;  color: #212121;">
                                    {{vm_publicfile.fileInfo.ExpirationDate | date:'dd MMM yyyy, HH:mm': 'UTC'}}
                                </span>
                                <label style="margin-top:-35px;">Expiration date (UTC)</label>
                            </div>
                        </div>
                        <div class="group">
                            <div class="pull-left" style="margin-left: -40px; margin-top:-10px;">
                                <img src="/img/ic-hard-disk.svg" />
                            </div>
                            <div>
                                <span style="'Roboto', sans-serif;  font-size: 16px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.5;  color: #212121;">
                                    {{vm_publicfile.file_size(vm_publicfile.fileInfo.Size)}}
                                </span>
                                <label style="margin-top:-35px;">Size</label>
                            </div>
                        </div>
                        <div class="group">
                            <div style="'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;text-align: left;color: #757575;">
                                Please enter the password in order to access the linked file.
                            </div>
                        </div>
                        
                        <div class="group" ng-class="{'has-error':vm_publicfile.message}">
                            <input type="password" required ng-model="vm_publicfile.password">
                            <label>{{vm_publicfile.message ? vm_publicfile.message : 'Password'}}</label>
                        </div>
                        <button class="btn btn-default" ng-hide="vm_publicfile.sending" ng-click="!vm_publicfile.sending && vm_publicfile.submit()">
                            DOWNLOAD
                        </button>
                        <md-progress-circular ng-show="vm_publicfile.sending" class="center-block" md-diameter="48px"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>