﻿<!-- page header -->
<div class="container-fluid" id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2">
                <a class="ic-back visible-xs" href="/signin"></a>
                <h1>Sign Up</h1>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->

<div class="container-fluid main" ng-controller="RegistrationController as register">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="register.form" novalidate autocomplete="off" ng-submit="register.submit()" class="bottom-btn" ng-hide="register.registered">
                    <legend>
                        Please input your real email. We will send you a letter with activation link to finish the registration.
                    </legend>
                    <div class="group" ng-class="{'has-error': (register.form.email.$invalid && register.form.email.$dirty || register.status == 409 && register.form.email.$pristine)}">
                        <input ng-model="register.email"
                               name="email"
                               type="email"
                               pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                               required
                               ng-model-options="{ updateOn: 'blur' }"/>
                        <label>{{ 'Email' | translate }}</label>
                        <!--<small style="color:red" ng-show="(register.form.email.$invalid && register.form.email.$dirty || register.status == 409 && register.form.email.$pristine)">
                            {{ register.form.email.$pristine ? register.errorMessage : (register.form.email.$error.required ?  ('RequiredField' | translate) : '') + (register.form.email.$error.email || register.form.email.$error.pattern ?  ('EmailInvalidField' | translate) : '')}}
                        </small>-->
                    </div>
                    
                    <div class="group" ng-class="{'has-error': (register.form.name.$invalid && register.form.name.$dirty)}">
                        <input ng-model="register.name"
                               name="name"
                               type="text"
                               required/>
                        <label>{{ 'Name' | translate }}</label>
                        <!--<small style="color:red" ng-show="(Form.name.$invalid && Form.name.$dirty)">
                            {{register.form.name.$error.required ? ('RequiredField' | translate) : ''}}
                        </small>-->
                    </div>
                    
                    <legend>
                        Password must be at least 8 symbols long, have one uppercase and one numeral symbol.
                    </legend>
                    <div class="group" ng-class="{'has-error': (register.form.password.$invalid && register.form.password.$dirty)}">
                        <input ng-model="register.password"
                               name="password"
                               type="password"
                               required
                               ng-pattern="/^(?=.*\d)(?=.*[a-z])((?=.*[A-Z])|(?=.*[!@#$%^&*-_+=]))[0-9a-zA-Z\d!@#$%^&*-_+=]{8,255}$/"
                               ng-model-options="{ updateOn: 'blur' }"/>
                        <label>{{ 'Password' | translate }}</label>
                        <!--<small style="color:red" ng-show="(register.form.password.$invalid && register.form.password.$dirty)">
                            {{ 'PasswordRuleField' | translate }}
                        </small>-->
                    </div>
                    

                    <div class="group" ng-class="{'has-error': (register.form.confirmpassword.$invalid && register.form.confirmpassword.$dirty)}">
                        <input name="confirmpassword"
                                       ng-model="register.confirmpassword"
                                       type="password"
                                       data-compare-to="register.password"
                                       ng-model-options="{ updateOn: 'blur' }">
                        <label>{{ 'Repeat password' | translate}}</label>
                        <!--<small style="color:red" ng-show="(register.form.confirmpassword.$invalid && register.form.confirmpassword.$dirty)">
                            {{ 'ConfirmPasswordError' | translate }}
                        </small>-->
                    </div>

                    <legend>
                        Please, input the hint, that will help you to restore the password, if you forget it.
                    </legend>
                    <div class="group" ng-class="{'has-error': (register.form.hint.$invalid && register.form.hint.$dirty)}">
                        <textarea rows="1" 
                                  name="hint" 
                                  ng-model="register.passwordHint"
                                  required></textarea>
                        <label>{{ 'Hint' | translate }}</label>
                        <!--<small style="color:red" ng-show="(register.form.hint.$invalid && register.form.hint.$dirty)">
                            {{ 'PasswordHintRequired' | translate }}
                        </small>-->
                    </div>

                    <button class="btn btn-default" type="submit" ng-hide="register.loading">Sign Up</button>
                    <div class="row" ng-show="register.loading">
                        <div class="col-xs-12">
                            <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                        </div>
                    </div>
                </form>

                <form class="bottom-btn" ng-show="register.registered">
                    <h2>Sign Up Completed</h2>
                    <legend>
                        Please, visit your email. There you will find a letter with activation link to finish the registration.
                    </legend>
                    <!--<button class="btn btn-default" type="submit">Resend Letter</button>-->
                </form>
            </div>
        </div>
    </div>
</div>
