﻿<!--<div class="signin-bg" style="position: fixed; top: 0; left: 0; min-width: 100%; min-height: 100%;"></div>-->

<!-- page header -->
<div class="container-fluid visible-xs" id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2">
                <div class="ic-menu visible-xs ui-toggleMenu"></div>
                <h1>Incrypta</h1>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- top padding -->
<div class="container-fluid top-padding hidden-xs"></div>
<!-- /top padding -->
<!-- sign in mobile header -->
<div class="container-fluid visible-xs" id="signin-header">
    <div class="container text-center">
        <div class="logo-round">
            <img src="/img/lg-incrypta-blue2.svg" class="img-responsive" />
        </div>
        <h2>incrypta</h2>
        <h3 style="text-align:center">Be sure for the safety of your data</h3>
    </div>
</div>
<!-- /sign in mobile header -->
<!-- main block -->
<div ng-controller="LoginController as login" >
    <div class="container-fluid main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <h1 class="hidden-xs">Sign In</h1>
                    <form ng-submit="login.submit()" name="login.form" novalidate autocomplete="false">
                        <div class="group" ng-class="{'has-error': (login.errorMessage || login.form.email.$invalid && login.form.email.$dirty)}">
                            <input ng-model="login.email"
                                   ng-change="login.clearError()"
                                   type="text"
                                   name="email"
                                   pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                                   required 
                                   ng-model-options="{ updateOn: 'blur' }"/>
                            <label>{{ 'Email' | translate }}</label>
                        </div>
                        <div class="group" ng-class="{'has-error': (login.form.password.$invalid && login.form.password.$dirty)}">
                            <input ng-model="login.password"
                                   ng-change="login.clearError()"
                                   type="password"
                                   name="password"
                                   required />
                            <label>{{ 'Password' | translate }}</label>
                            <a href="#" class="forgot-password visible-xs">Forgot?</a>
                        </div>

                        <div ng-show="!login.loading">
                            <button class="btn btn-default" type="submit">SIGN IN</button>

                            <a href="/forgot" class="hidden-xs" style="float: right; padding-top: 15px;">Forgot password?</a>

                            <div class="hidden-xs">
                                <br />
                                <br />
                                Have no account? <a href="/signup">Sign Up</a>.
                            </div>

                            <div class="visible-xs text-center">
                                <br />
                                <a href="/signup">Have no account?</a>
                            </div>
                        </div>

                        <div class="row" ng-show="login.loading">
                            <div class="col-xs-12">
                                <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- modal popup window -->
    <!-- Modal content -->
    <div class="container-fluid modal-bg" ng-show="login.showInfo" ng-click="login.showInfo=false" style="display:block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="modal-content">
                        <div class="modal-body">
                            {{login.successMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal popup window -->

