@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.text-danger {
  color: #f44336;
}

input[type="text"] {
  font-family: Roboto;
}

*{
  -webkit-font-smoothing: antialiased;
}

/* checkbox css*/
input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

input[type=checkbox]:after {
  box-sizing: border-box;
  content: '✔';
  color: #fff;
  background: #fff;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 15px;
  border-radius: 2px;
  text-align: center;
  border: 2px solid #212121;
}

input[type=checkbox]:hover:after {
  color: #fff;
  background: #fff;
  border-color: #2196F3;
}

input[type=checkbox]:checked:after {
  color: #fff;
  border-color: #2196F3;
  background-color: #2196F3;
}

input[type=checkbox]:checked:hover:after {
  color: #2196F3;
  background: #fff;
}

/* checkbox css end */
/* dropdown css */
.incrypta-dropdown, .incrypta-input {
  position: relative;
  width: 224px;
  height: 72px;
  font-family: Roboto;
}

.incrypta-dropdown .dropdown-icon, .incrypta-dropdown .input-icon, .incrypta-input .dropdown-icon, .incrypta-input .input-icon {
  float: left;
  height: 72px;
  line-height: 72px;
  text-align: center;
  width: 20px;
  margin-left: 20px;
}

.incrypta-dropdown .dropdown-icon i, .incrypta-dropdown .input-icon i, .incrypta-input .dropdown-icon i, .incrypta-input .input-icon i {
  line-height: 24px;
  font-size: 22px;
  color: #757575;
  position: relative;
  top: 5px;
}

.incrypta-dropdown .dropdown-label, .incrypta-dropdown .input-label, .incrypta-input .dropdown-label, .incrypta-input .input-label {
  float: left;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  margin-top: 16px;
  padding-left: 16px;
  max-width: 170px;
  color: #757575;
}

.incrypta-dropdown .dropdown-value, .incrypta-input .dropdown-value {
  float: left;
  width: 170px;
  font-size: 16px;
  line-height: 16px;
  padding-left: 16px;
  margin-top: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2196F3;
}

.incrypta-dropdown .dropdown-value .active, .incrypta-input .dropdown-value .active {
  color: #2196F3;
}

.incrypta-dropdown .dropdown-list, .incrypta-input .dropdown-list {
  display: block;
  top: 4px;
  left: 56px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding-left: 0px;
  margin-bottom: 0px;
  min-height: 56px;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  width: 164px;
  overflow-x: hidden;
  z-index: 2;
}

.incrypta-dropdown .dropdown-list li, .incrypta-input .dropdown-list li {
  display: block;
  height: 56px;
  width: 164px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.incrypta-dropdown .dropdown-list li.selected, .incrypta-input .dropdown-list li.selected {
  color: #2196F3;
}

.incrypta-dropdown .input-value input[type="text"], .incrypta-dropdown .input-value input[type="number"], .incrypta-dropdown .input-value input[type="email"], .incrypta-input .input-value input[type="text"], .incrypta-input .input-value input[type="number"], .incrypta-input .input-value input[type="email"] {
  float: left;
  color: #212121;
  background: #fff;
  width: 174px;
  font-size: 16px;
  line-height: 16px;
  padding-left: 16px;
  margin-top: 8px;
  cursor: pointer;
  border: none;
}

.incrypta-dropdown .input-value input[type="text"]:focus, .incrypta-dropdown .input-value input[type="number"]:focus, .incrypta-dropdown .input-value input[type="email"]:focus, .incrypta-input .input-value input[type="text"]:focus, .incrypta-input .input-value input[type="number"]:focus, .incrypta-input .input-value input[type="email"]:focus {
  color: #2196F3;
}

/* dropdown css end */
/* custom scroll */
.incrypta-scroll {
  overflow-y-: auto;
}

.incrypta-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.incrypta-scroll::-webkit-scrollbar {
  width: 6px;
}

.incrypta-scroll::-webkit-scrollbar-thumb {
  background-color: #2196F3;
}

/* custom scroll */
/* multiselect css */
.incrypta-multiselect {
  font-family: Roboto;
  min-height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}

.incrypta-multiselect .selected-items {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

.incrypta-multiselect .selected-items li {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #E3F2FD;
  border-radius: 16px;
  font-size: 14px;
  margin: 8px;
  margin-right: 0;
}

.incrypta-multiselect .selected-items li.unselected {
  color: #2196F3;
  background-color: #fff;
  font-size: 16px;
}

.incrypta-multiselect .selected-items li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.incrypta-multiselect .selected-items li i {
  position: relative;
  top: -10px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  cursor: pointer;
}

.incrypta-multiselect .selected-items .edit-button {
  height: 32px;
  line-height: 32px;
  padding-right: 16px;
  padding-left: 16px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 8px;
  font-weight: 500;
  color: #2196F3;
  background: #fff;
  cursor: pointer;
}

.incrypta-multiselect .multiselect-list {
  display: block;
  top: 4px;
  right: 4px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding-left: 0px;
  margin-bottom: 0px;
  min-height: 56px;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  width: 50%;
  min-width: 250px;
  overflow-x: hidden;
}

.incrypta-multiselect .multiselect-list li {
  display: block;
  height: 56px;
  width: 164px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.incrypta-multiselect .multiselect-list li.selected {
  color: #2196F3;
}

.multiselect-modal {
  /*width:496px;
  height:460px;
  top:50%;
  left:50%;
  margin-left:-248px;
  margin-top:-226px;
  background:$body-bg;*/
}

.multiselect-modal header {
  background-color: #F1F8FE;
  position: relative;
}

.multiselect-modal header .multiselect-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  line-height: 64px;
  margin-left: 16px;
  float: initial;
  overflow: hidden;
}

.multiselect-modal header .multiselect-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 64px;
  line-height: 64px;
  margin-right: 16px;
  font-size: 20px;
  color: #757575;
  cursor: pointer;
}

.multiselect-modal .multiselect-search {
  height: 64px;
  background: #fff;
  padding: 14px 22px;
}

.multiselect-modal .multiselect-search i {
  opacity: 0.54;
  position: relative;
  top: 7px;
}

.multiselect-modal .multiselect-search input[type="text"] {
  padding-left: 8px;
  border: none;
  width: 245px;
  font-size: 14px;
}

.multiselect-modal .multiselect-check-list {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 257px;
  padding-left: 0;
  overflow-x: hidden;
  border-top: 1px solid #8eb4cb;
  margin-top: 0;
  margin-bottom: 0;
}

.multiselect-modal .multiselect-check-list > li {
  display: block;
  position: relative;
  height: 48px;
  padding: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiselect-modal .multiselect-check-list > li span {
  padding-left: 16px;
}

.multiselect-modal .multiselect-check-list > li span.top {
  position: absolute;
  top: 8px;
}

.multiselect-modal .multiselect-check-list > li span.bottom {
  position: absolute;
  bottom: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #757575;
}

.multiselect-modal .multiselect-check-list > li.no-data {
  opacity: 0.54;
  padding-left: 54px;
}

.multiselect-modal .multiselect-check-list > li.empty-list {
  height: auto;
  text-align: center;
}

.multiselect-modal .multiselect-check-list > li.empty-list i {
  margin-top: 48px;
  font-size: 80px;
  opacity: 0.54;
}

.multiselect-modal .multiselect-check-list > li.empty-list .title {
  margin-top: 16px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
}

.multiselect-modal .multiselect-check-list > li.empty-list .descr {
  margin-top: 8px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #757575;
  padding-left: 140px;
  padding-right: 140px;
}

.multiselect-modal .multiselect-check-list > li.empty-list .create {
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #2196F3;
  text-transform: uppercase;
  margin-top: 44px;
  cursor: pointer;
}

.multiselect-modal .multiselect-check-list > li.big {
  height: 72px;
}

.multiselect-modal .multiselect-check-list > li.big input[type="checkbox"] {
  margin-top: 13px;
}

.multiselect-modal .multiselect-check-list.empty-list {
  height: 380px;
  border-top: 0;
}

.multiselect-modal footer {
  height: 64px;
  background-color: #F1F8FE;
  position: relative;
}

.multiselect-modal footer .confirm-button {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 112px;
  height: 36px;
  background-color: #2196F3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

/* multiselect css end*/
/* modal confirm css */
.modal-confirm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-confirm .modal-body {
  background-color: #fff;
  height: 184px !important;
  margin: 15% auto;
  padding: 0 !important;
  border: 1px solid #888;
  margin-left: -168px !important;
  width: 336px !important;
  text-align: left;
  font-family: Roboto;
  color: #212121;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12), 0 16px 16px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}

.modal-confirm h4 {
  font-size: 20px;
  line-height: 24px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.modal-confirm #modalConfirmDescr {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 28px;
  padding-left: 16px;
}

.modal-confirm .modal-button {
  float: right;
  margin-right: 20px;
  font-size: 14px;
  line-height: 24px;
  display: block;
  background: #fff;
  border: 0;
  text-transform: uppercase;
  height: 20px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  width: 65px;
  margin-top: -5px;
  font-weight: 600;
}

.modal-confirm .modal-button#modalConfirmYes {
  color: #f44336;
}

.modal-confirm .modal-button#modalConfirmNo {
  color: #2196F3;
  margin-right: 24px;
}

/* modal confirm css end */
.btn {
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

@media only screen and (max-width: 496px) {
  .profile-header .prof-pic {
    display: none !important;
  }
  .profile-header .prof-name {
    margi-left: 8px !important;
  }
  .multiselect-modal {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}

.float-right {
  position: relative;
  float: right;
}

.float-left {
  position: relative;
  float: left;
}

.container {
  width: 944px;
  margin: 0 auto;
}

.container.main {
  margin-top: 64px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #2196F3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

header .header-container {
  position: relative;
}

header .header-container .header-left {
  position: absolute;
  height: 36px;
  top: 14px;
  width: 240px;
}

header .header-container .header-left .header-logo {
  background: url("./lgIncryptaBlue.png");
  width: 30px;
  height: 36px;
}

header .header-container .header-left .header-title {
  position: absolute;
  top: 0;
  left: 38px;
  height: 24px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  width: 140px;
  color: #fff;
}

header .header-container .header-right {
  position: absolute;
  right: 0;
  top: 12px;
  height: 40px;
  width: 160px;
  color: #fff;
  margin-right: 15px;
}

header .header-container .header-right .prof-pic {
  float: right;
}

header .header-container .header-right .header-icon {
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
}

header .header-container .header-right .header-icon i {
  margin-top: 8px;
  font-size: 20px;
  line-height: 24px;
}

header .header-container .header-right .search-icon {
  margin-right: 32px;
}

header .header-container .header-right .notification-icon {
  margin-right: 32px;
}

.prof-pic {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.prof-pic img {
  width: 100%;
  margin-right: 10px;
}

.main-content {
  position: relative;
  float: left;
  width: 704px;
}

.sidebar-menu {
  position: relative;
  width: 240px;
  float: left;
}

.sidebar-menu ul {
  display: block;
  padding-left: 0;
}

.sidebar-menu ul li {
  display: block;
  height: 48px;
  line-height: 48px;
  margin: 12px 0;
  font-family: Roboto;
  color: #212121;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-menu ul li div i {
  font-size: 20px;
  line-height: 24px;
  width: 24px;
  text-align: center;
  margin-right: 16px;
  top: 4px;
  position: relative;
}

.sidebar-menu ul li.active div i {
  color: #2196F3;
}

.profile-content {
  font-family: Roboto;
  color: #212121;
}

.profile-content .status-left {
  overflow: hidden;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.profile-content .status-left .status-main {
  position: absolute;
  top: 12px;
  font-size: 20px;
  line-height: 24px;
}

.profile-content .status-left .status-main.no-descr {
  position: relative;
  top: 0;
  line-height: 72px;
}

.profile-content .status-left .status-descr {
  position: absolute;
  top: 36px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.profile-content .status-left .status-descr.no-descr {
  display: none;
}

.profile-content .profile-header {
  margin-top: 8px;
  height: 72px;
  position: relative;
}

.profile-content .profile-header .header-left {
  overflow: hidden;
}

.profile-content .profile-header .header-left .prof-pic {
  float: left;
  margin-top: 12px;
  margin-left: 16px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.profile-content .profile-header .header-left .prof-pic img {
  margin-right: 16px;
}

.profile-content .profile-header .header-left .prof-pic .prof-initials {
  width: 100%;
  height: 48px;
  background-color: #4CAF50;
  background-color: #2ab27b;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  color: #fff;
}

.profile-content .profile-header .header-left .prof-name {
  float: left;
  font-size: 20px;
  line-height: 72px;
}

.profile-content .profile-header .header-right {
  position: relative;
  float: right;
}

.profile-content .profile-header .header-right .delete-user {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #f44336;
  text-transform: uppercase;
  margin-top: 20px;
  margin-right: 16px;
  cursor: pointer;
  float: right;
}

.profile-content .profile-header .header-right .delete-user.suspend {
  color: #2196F3;
}

.profile-content .profile-router-links {
  display: block;
  min-height: 48px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  border-bottom: 1px solid #8eb4cb;
  padding-left: 0;
}

.profile-content .profile-router-links > li {
  display: block;
  position: relative;
  width: 112px;
  float: left;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding-left: 0;
  cursor: pointer;
}

.profile-content .profile-router-links > li.active {
  color: #2196F3;
  border-bottom: 2px solid #2196F3;
}

@media only screen and (max-width: 540px) {
  .profile-router-links li {
    width: 82px !important;
  }
}

@media only screen and (max-width: 380px) {
  .profile-router-links li {
    width: 65px !important;
  }
}

#user-invite-modal, #multiselectModal, .modal-confirm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#user-invite-modal .modal-body, #multiselectModal .modal-body, .modal-confirm .modal-body {
  height: 308px;
  width: 496px;
  top: 50%;
  left: 50%;
  margin-left: -248px;
  margin-top: -226px;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  font-family: Roboto;
}

#user-invite-modal textarea, #multiselectModal textarea, .modal-confirm textarea {
  height: 176px;
  width: 100%;
  border: 0;
  padding: 16px;
  resize: none;
  font-family: Roboto;
}

#user-invite-modal textarea:focus, #multiselectModal textarea:focus, .modal-confirm textarea:focus {
  outline: none;
}

#user-invite-modal footer .import, #multiselectModal footer .import, .modal-confirm footer .import {
  position: absolute;
  top: 22px;
  left: 16px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #2196F3;
  cursor: pointer;
}

#multiselectModal .modal-body {
  height: 416px;
}

.group-info-input {
  height: 72px;
  position: relative;
}

.group-info-input label {
  height: 20px;
  font-size: 14px;
  color: #757575;
  position: absolute;
  top: 14px;
  left: 16px;
}

.group-info-input input {
  width: 100%;
  height: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-top: 36px;
  border: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbe7f4;
  padding-left: 16px;
}

.incrypta-table {
  margin: 8px;
  font-family: Roboto;
  height: 600px;
}

.incrypta-table .table-status {
  position: relative;
  height: 72px;
  box-sizing: initial;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #8eb4cb;
  overflow: hidden;
}

.incrypta-table .table-status .delete-user {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #f44336;
  text-transform: uppercase;
  margin-top: 26px;
  margin-right: 16px;
  cursor: pointer;
  float: right;
}

.incrypta-table .table-status .delete-user.suspend {
  color: #2196F3;
}

.incrypta-table .table-status .status-left {
  overflow: hidden;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.incrypta-table .table-status .status-left .status-main {
  position: absolute;
  top: 12px;
  font-size: 20px;
  line-height: 24px;
}

.incrypta-table .table-status .status-left .status-main.no-descr {
  position: relative;
  top: 0;
  line-height: 72px;
}

.incrypta-table .table-status .status-left .status-descr {
  position: absolute;
  top: 36px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.incrypta-table .table-status .status-left .status-descr.no-descr {
  display: none;
}

.incrypta-table .table-status .status-right {
  position: relative;
  float: right;
}

.incrypta-table .table-status .status-right .searchbar {
  margin-top: 18px;
  background-color: #F1F8FE;
  height: 36px;
  border-radius: 18px;
  width: 273px;
  color: #757575;
}

.incrypta-table .table-status .status-right .searchbar label {
  line-height: 36px;
  font-size: 18px;
  height: 24px;
  cursor: pointer;
  margin-left: 12px;
  position: relative;
  top: 6px;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"] {
  padding: 0 0 0 8px;
  border: none;
  background: #fff;
  width: 215px;
  -webkit-transition: width .25s;
  transition: width .25s;
  background-color: #F1F8FE;
}

.incrypta-table .table-status .status-right .searchbar #search-close {
  font-style: normal;
  cursor: pointer;
}

.incrypta-table .table-header {
  height: 48px;
  box-sizing: initial;
  padding: 8px;
  padding-top: 0;
  border-bottom: 1px solid #8eb4cb;
  color: #757575;
  text-transform: capitalize;
}

.incrypta-table .table-header div {
  font-size: 14px;
  line-height: 48px;
  position: relative;
}

.incrypta-table .table-header .role {
  float: right;
  width: 160px;
}

.incrypta-table .table-header .status {
  float: right;
  width: 90px;
}

.incrypta-table .table-header .user-data, .incrypta-table .table-header .device-name, .incrypta-table .table-header .event-name {
  float: initial;
}

.incrypta-table .table-header .options-placeholder {
  width: 12px;
  float: right;
}

.incrypta-table .table-header .options-placeholder i {
  line-height: 24px;
  font-size: 20px;
  visibility: hidden;
}

.incrypta-table .table-header .device-activity {
  float: right;
  width: 276px;
}

.incrypta-table .table-header .event-time {
  float: right;
  width: 135px;
}

.incrypta-table .table-content {
  padding: 8px 0;
  min-height: 72px;
  color: #212121;
}

.incrypta-table .table-content div {
  font-size: 14px;
  line-height: 72px;
  position: relative;
}

.incrypta-table .table-content .table-row {
  padding-left: 8px;
  padding-right: 8px;
}

.incrypta-table .table-content .table-row .role {
  float: right;
  width: 160px;
}

.incrypta-table .table-content .table-row .status {
  float: right;
  width: 90px;
}

.incrypta-table .table-content .table-row .user-data {
  float: initial;
  overflow: hidden;
  height: 72px;
}

.incrypta-table .table-content .table-row .user-data .user-name {
  position: absolute;
  top: 12px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.incrypta-table .table-content .table-row .user-data .user-name.no-name {
  display: none;
}

.incrypta-table .table-content .table-row .user-data .user-email {
  position: absolute;
  top: 36px;
  opacity: 0.54;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}

.incrypta-table .table-content .table-row .user-data .user-email.no-name {
  position: relative;
  line-height: 72px;
  font-size: 16px;
  top: 0;
  opacity: 1;
  color: #212121;
}

.incrypta-table .table-content .table-row .options {
  width: 12px;
  float: right;
  cursor: pointer;
  text-align: center;
}

.incrypta-table .table-content .table-row .options i {
  line-height: 24px;
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #757575;
}

.incrypta-table .table-content .table-row .options .options-dropdown {
  display: block;
  width: 112px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding: 8px;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 2;
  text-align: left;
}

.incrypta-table .table-content .table-row .options .options-dropdown .dropdown-item {
  display: block;
  padding: 16px 8px;
  box-sizing: initial;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 16px;
}

.incrypta-table .table-content .table-row .device-activity {
  float: right;
  width: 276px;
  color: #757575;
}

.incrypta-table .table-content .table-row .device-activity .activity-time {
  position: absolute;
  top: 14px;
  color: #757575;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}

.incrypta-table .table-content .table-row .device-activity .activity-place {
  position: absolute;
  top: 38px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}

.incrypta-table .table-content .table-row .device-name {
  float: initial;
  overflow: hidden;
}

.incrypta-table .table-content .table-row .device-name i {
  font-size: 20px;
  line-height: 24px;
  margin-left: 8px;
  position: relative;
  top: 5px;
}

.incrypta-table .table-content .table-row .device-name span {
  margin-left: 16px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}

.incrypta-table .table-content .table-row.no-data, .incrypta-table .table-content .table-row.search-empty {
  margin-top: 48px;
  text-align: center;
}

.incrypta-table .table-content .table-row.no-data i, .incrypta-table .table-content .table-row.search-empty i {
  height: 96px;
  font-size: 96px;
  opacity: 0.54;
  position: relative;
  top: 5px;
}

.incrypta-table .table-content .table-row.no-data .not-found-title, .incrypta-table .table-content .table-row.search-empty .not-found-title {
  height: 24px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.incrypta-table .table-content .table-row.no-data .not-found-text, .incrypta-table .table-content .table-row.search-empty .not-found-text {
  height: 20px;
  font-size: 14px;
  color: #757575;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 8px;
  width: 208px;
}

.incrypta-table .table-content .table-row.invite {
  position: absolute;
  bottom: 0;
  right: 0;
}

.incrypta-table .table-content .table-row.invite:hover {
  background-color: #fff;
}

.incrypta-table .table-content .table-row:hover {
  background-color: #f1f8fe;
}

.incrypta-table .table-content .table-row:hover .user-name {
  text-decoration: underline;
}

.incrypta-table .table-content .event-time {
  float: right;
  width: 135px;
}

.invite-add {
  width: 64px;
  height: 64px;
  float: right;
  border-radius: 32px;
  background: #2196F3;
  cursor: pointer;
  line-height: 64px !important;
  top: 4px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.invite-add i {
  position: relative;
  top: 7px;
}

@media only screen and (max-width: 580px) {
  .searchbar {
    width: 197px !important;
  }
  .searchbar #tablesearch {
    width: 145px !important;
  }
  .role {
    width: 110px !important;
  }
  .status {
    width: 70px !important;
  }
  .device-activity {
    width: 150px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .device-activity .activity-place {
    width: 142px;
    white-space: normal;
    overflow: hidden;
  }
}

@media only screen and (max-width: 479px) {
  .table-status.has-search {
    height: 106px;
  }
  .table-status.has-search .status-right {
    position: absolute;
    top: 48px;
  }
}

.modal-show {
  display: block !important;
}

.modal-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 9999;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: white;
  width: 496px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12), 0 16px 16px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  font-family: 'Roboto';
}

.modal-container header {
  box-shadow: none;
  background-color: #F8FBFE;
  height: 64px;
  line-height: 24px;
  vertical-align: middle;
  font-family: Roboto;
  font-size: 20px;
  color: #212121;
  padding: 20px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-container header i {
  position: relative;
  color: #757575;
  cursor: pointer;
}

.modal-container footer {
  box-shadow: none;
  background-color: #F8FBFE;
  min-height: 64px;
  vertical-align: middle;
  color: #212121;
  padding: 14px 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal-container footer a {
  line-height: 36px;
  font-size: 14px;
  vertical-align: middle;
}

.modal-container footer button {
  width: 112px;
  height: 36px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.modal-container .content {
  padding: 8px 0;
}

.modal-container .content input {
  width: 100%;
  border: none;
  margin-bottom: 8px;
  height: 48px;
  padding: 14px 16px;
}

.modal-container .content textarea {
  width: 100%;
  border: none;
  margin-top: 8px;
  height: 104px;
  padding: 14px 16px;
  resize: none;
  border-top: 1px solid #dbe7f4;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
}

@media (max-width: 500px) {
  .modal-container {
    width: 95%;
  }
}

.modal-bg2 {
  position: fixed;
  z-index: 10000;
  width: 100%;
  bottom: 5%;
  left: 0;
  display: none;
}

.modal-bg2 .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-animation: fadeIn 1s linear forwards;
  animation: fadeIn 1s linear forwards;
}

.modal-bg2 .modal-content label {
  opacity: 0.54;
}

.modal-bg2 .modal-content .modal-body {
  padding: 16px 24px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

#modal-toastr {
  position: fixed;
  bottom: 24px;
  width: 100%;
  font-family: Roboto;
}

#modal-toastr .modal-body {
  position: relative;
  width: 304px;
  height: 52px;
  border-radius: 2px;
  background-color: #f8fbfe;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
}

#modal-toastr .modal-body span {
  height: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  padding: 16px;
  text-transform: uppercase;
  position: absolute;
}

#modal-toastr .modal-body span.undo {
  right: 0;
  color: #2196F3;
}

/*# sourceMappingURL=app.css.map */
