﻿<style>
    .user-avatar{
        width: 40px;
        height: 40px;
        background-color: #f8fbfe;
        border: solid 1px #dbe7f3;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background-size: cover;
        background-color: #2196f3;
        text-align: center;
        font-size: 27px;
        color: white;
    }
</style>
<div class="container-fluid fixed" id="navigation">
    <div class="container">
        <div class="pull-left" id="logo">
            <img src="/img/lg-incrypta-blue.svg" class="img-responsive" />
            <h3>Incrypta</h3>
        </div>
        <div class="pull-left" id="search">
            <div class="search">
                <input type="text" placeholder="Search" ng-model="init.search">
            </div>
        </div>
        <div class="pull-right" id="profile">
            <div class="dropdown">
                <div class="user-name" data-toggle="dropdown">{{init.Globals.getClientData().email}}</div>
                <div class="avatar" data-toggle="dropdown"><div class="user-avatar" style="background-color:white!important; font-size:20px; padding-top:6px"><span style="color:#2196f3">{{init.Globals.getShortName(init.Globals.getClientData().name)}}</span></div></div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-triangle"></li>
                    <li class="normal"><a style="cursor:pointer;" data-get-model-template="change-password"><div class="ic-rename"></div>Change password</a></li>
                    <li class="logout"><a style="cursor:pointer;" ng-click="init.Globals.clientLogout()" class="text-red"><div class="ic-exit"></div>Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>