﻿<div data-ng-include src="'/new_design/views/common/cloud_header.html'"></div>

<div class="container-fluid main-cloud">
    <div class="files-list" ng-show="init.dragOver" style="z-index:4;position: absolute; top:72px; left:0; display: flex; align-items: center; justify-content: center; width: 100%;height:100%; background-color: rgba(177, 213, 242, 0.67); outline: 2px dashed #2196f3; opacity:0.7; outline-offset: -10px;">
        <div class="ic-download" style="width:100px; height:100px;pointer-events: none;"></div>
    </div>
    <div class="container-non-responsive" ng-controller="InitDriveController as cloud">
        <div class="navbar navbar-fixed-left fixed">
            <ul class="m-menu ui-menu-icons" style="margin:7px 0px 0px 17px">
                <li ng-class="{'active':init.$location.path().trim().split('/')[1]=='cloud'}"><a href="/cloud" ><div class="ui-icon bt-cloud" ng-class="{'bt-cloud-filled': init.$location.path().trim().split('/')[1]=='cloud' }"></div>My Cloud</a></li>
                <li ng-class="{'active':init.$location.path().trim().split('/')[1]=='shared-with-me'}"><a href="/shared-with-me"><div class="ui-icon bt-share" ng-class="{'bt-share-filled': init.$location.path().trim().split('/')[1]=='shared-with-me'}"></div>Shared with me</a></li>
                <li ng-show="false" ng-class="{'active':init.$location.path().trim().split('/')[1]=='recent'}"><a href="/recent"><div class="ui-icon bt-recent" ng-class="{'bt-recent-filled': init.$location.path().trim().split('/')[1]=='recent'}"></div>Recent</a></li>
                <li ng-show="false" ng-class="{'active':init.$location.path().trim().split('/')[1]=='notifications'}"><a href="/notifications"><div class="ui-icon bt-bell" ng-class="{'bt-share-filled': init.$location.path().trim().split('/')[1]=='notifications'}"></div>Notifications</a></li>
            </ul>
        </div>
        <div class="row" ng-controller="UploaderController as uploader" style="padding-left: 190px;">

            <div ng-view style="padding-bottom:70px"></div>

            <div ng-show="uploader.manager.showTransfers && !uploader.abortVisible">

                <div ng-hide="!uploader.showTransfersList"  class="modal" ng-style="{'z-index': 1050 + index*10, display: 'block'}"  style="z-index: 1050; display: block;">
                    <div class="modal-dialog">
                        <div class="reveal-modal modal-with-sections upload-modal">
                            <div class="modal-header">
                                <h3 class="pull-left">Incripta queue</h3>
                                <div class="pull-right">
                                    <a style="cursor:pointer" ng-click="uploader.toggleList()"><div class="ic-minimize"></div></a>
                                    <a style="cursor:pointer" ng-click="uploader.close()"><div class="ic-cancel"></div></a>
                                </div>
                            </div>
                            <div class="modal-body" style="height: 204px;">
                                <div class="modal-upload-list" ng-slimscroll style="padding-right: 20px;">
                                    <!--<div class="row">
                                        <div class="col-xs-1 type"><div class="ic-file"></div></div>
                                        <div class="col-xs-6" style="overflow-x:hidden; text-overflow:ellipsis;white-space: nowrap;">test</div>
                                        <div class="col-xs-3">
                                           <span>In progress</span>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="operation-progress">
                                                <div class="operation-stop ic-stop-process"></div>
                                                <div class="progress-block">
                                                    <md-progress-circular class="center-block" md-mode="determinate" value="100" md-diameter="18"></md-progress-circular>
                                                </div>
                                            </div>

                                        </div>
                                    </div>-->
                                    <div class="row" ng-repeat="item in uploader.manager.queue track by $index">
                                        <div class="col-xs-1 type" style="padding-top: 7.5px; padding-bottom: 7.5px;"><div ng-class="uploader.Globals.getFileClass(item.ContentType)"></div></div>
                                        <div class="col-xs-6" style="overflow-x:hidden; text-overflow:ellipsis;white-space: nowrap;">{{item.fileName}}</div>
                                        <div class="col-xs-3">
                                            <span ng-switch="item.status">
                                                <span ng-switch-when="0">Waiting...</span>
                                                <span ng-switch-when="1">{{item.type == 2 ? 'Uploading...' : item.isDecrypting ? 'Decryption': 'Downloading...'}}</span>
                                                <span ng-switch-when="2">{{item.type == 2 ? 'Uploaded' : 'Downloaded'}}</span>
                                                <span ng-switch-when="3">Canceled</span>
                                                <span ng-switch-when="4">Error</span>
                                            </span>
                                        </div>
                                        <div class="col-xs-2 text-right" style="padding-top: 7.5px; padding-bottom: 7.5px;">
                                            <div ng-if="item.status == 0 || item.status == 1" class="operation-progress" ng-click="item.cancel()">
                                                <div class="operation-progress">
                                                    <div class="operation-stop ic-stop-process"></div>
                                                    <div class="progress-block">
                                                        <md-progress-circular class="center-block" md-mode="indeterminate" md-diameter="18" ng-show="item.progress==0"></md-progress-circular>
                                                        <md-progress-circular class="center-block" md-mode="determinate" md-diameter="18" ng-show="item.progress > 0" value="{{item.progress}}"></md-progress-circular>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="item.status == 2" ng-class="item.type == '1' ? 'ic-downloaded' : 'ic-uploaded'"></div>
                                            <div ng-if="item.status == 3" class="ic-cancel"></div>
                                            <div ng-if="item.status == 4" class="ic-cancel"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!--<button class="btn btn-default" data-do-upload>UPLOAD FILE</button>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid modal-bg" ng-show="!uploader.showTransfersList" style="display:block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="pull-left">
                                            <span class="hidden-xs" style="font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;">Queue</span>
                                        </h3>
                                        <div class="pull-right">
                                            <a style="cursor:pointer" ng-click="uploader.toggleList()"><div class="ic-minimize rotate_180"></div></a>
                                            <a style="cursor:pointer" ng-click="uploader.close()"><div class="ic-cancel"></div></a>
                                        </div>
                                    </div>
                                    <div class="modal-body visible-xs">
                                        <span class="visible-xs" style="font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;">Queue</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-hide="!uploader.showTransfersList" class="modal-backdrop"  ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" style="z-index: 1040;"></div>

            </div>
            <input id="file-input" type="file" name="file" onchange="angular.element(this).scope().uploader.AddFiles(this)" multiple style="display:none;" />
            <input id="file-input-shared" type="file" name="file" onchange="angular.element(this).scope().uploader.AddFiles(this, true)" multiple style="display:none;" />
        </div>
    </div>
</div>


