﻿<div class="container-fluid" id="navigation">
    <div class="container">
        <div class="pull-left hidden-xs" id="logo">
            <img src="/new_design/img/lg-incrypta-blue.svg" class="img-responsive" />
            <h3>Incrypta</h3>
        </div>
        <nav class="pull-right" id="menu">
            <ul>
                <!--<li><a href="#">About service</a></li>-->
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/signin">Sign In</a></li>
            </ul>
        </nav>
    </div>
</div>