﻿<div class="trans mobile-menu">
    <div class="container visible-xs">
        <div class="row">
            <div class="col-xs-12 menu-logo">
                <img src="/img/lg-incrypta-blue2.svg" class="img-responsive" />
                <h3>Incrypta</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 menu-left">
                <ul class="m-menu">
                    <li><a href="/signin"><div class="ic-sign-in"></div> Sign in</a></li>
                    <li><a href="/signup"><div class="ic-sign-up"></div> Sign up</a></li>
                    <li><a href="/about"><div class="ic-info"></div> About service</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
