﻿<div class="reveal-modal">
    <div class="modal-header">
        <h2>Abort process?</h2>
    </div>
    <div class="modal-body">
        Some files have not yet completed the process. You want to abort?
    </div>
    <div class="modal-footer">
        <a style="cursor:pointer;" class="text-red" ng-click="uploader.abortConfirm();">Abort</a>
        <a style="cursor:pointer;" ng-click="uploader.abortCancel()">Cancel</a>
    </div>
</div>