﻿<div class="reveal-modal modal-with-sections share-options-modal" ng-controller="ChangePasswordController as vm_password">
    <div class="modal-header">
        <h3 class="pull-left">Change Password</h3>
        <div class="pull-right">
            <div class="ic-cancel" style="cursor:pointer;" ng-click="vm_password.close()"></div>
        </div>
    </div>
    <div class="modal-body content-padding" ng-form="vm_password.form">
        <div class="col-xs-12">
            <div class="group" ng-class="{'has-error': (vm_password.form.oldPassword.$invalid && vm_password.form.oldPassword.$dirty)}">
                <input type="password" name="oldPassword" ng-model="vm_password.oldPassword" required>
                <label class="C1">Current password</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="modal-info-text C3">Password must be at least 8 symbols long, have one uppercase and one numeral symbol.</div>
        </div>
        <div class="col-xs-12">
            <div class="group" ng-class="{'has-error': (vm_password.form.newPassword.$invalid && vm_password.form.newPassword.$dirty)}">
                <input type="password" name="newPassword" ng-model-options="{ updateOn: 'blur' }" ng-model="vm_password.newPassword" ng-pattern="/^(?=.*\d)(?=.*[a-z])((?=.*[A-Z])|(?=.*[!@#$%^&*-_+=]))[0-9a-zA-Z\d!@#$%^&*-_+=]{8,255}$/" required>
                <label class="C1">New password</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="group" ng-class="{'has-error': (vm_password.form.confirmPassword.$invalid && vm_password.form.confirmPassword.$dirty)}">
                <input type="password" name="confirmPassword" ng-model-options="{ updateOn: 'blur' }" ng-model="vm_password.confirmPassword" data-compare-to="vm_password.newPassword">
                <label class="C1">New password one more time</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="modal-info-text C3">Please, input the hint, that will help you to restore the password, if you forget it.</div>
        </div>
        <div class="col-xs-12">
            <div class="group">
                <input type="text" name="passwordHint" ng-model="vm_password.passwordHint" required>
                <label class="C1">Hint</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default uppercase" ng-click="vm_password.changePassword()" ng-hide="vm_password.loading">Confirm</button>
        <md-progress-circular md-mode="indeterminate" class="center-block" ng-show="vm_password.loading"></md-progress-circular>
    </div>
</div>
