﻿<div class="reveal-modal">
    <div class="modal-header">
        <h2>Delete files?</h2>
    </div>
    <div class="modal-body">
        Once deleted, files will be unavaliable for you forever. Delete?
    </div>
    <div class="modal-footer">
        <!--<div ng-hide="vm_collection.loading">-->
            <a style="cursor:pointer;" class="text-red" ng-click="vm_collection.groupDeleteAccept();">Delete</a>
            <a style="cursor:pointer;" ng-click="vm_collection.AbortModel()">Cancel</a>
        <!--</div>
        <md-progress-circular md-mode="indeterminate" class="center-block" ng-show="vm_collection.loading"></md-progress-circular>-->
    </div>
</div>