﻿<link href="/new_design/css/datetimepicker.css" rel="stylesheet">
<div data-public-share-model>
    <div class="reveal-modal modal-with-sections share-options-modal">
        <div class="modal-header">
            <h3 class="pull-left" style="width: 400px;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">Share {{vm_pshare.item.Name}}</h3>
            <div class="pull-right">
                <a style="cursor:pointer" ng-click="context.close()"><div class="ic-cancel"></div></a>
            </div>
        </div>

        <div class="modal-body content-padding" ng-form="vm_pshare.form" ng-show="!vm_pshare.loading && vm_pshare.step ==1">
            <div class="col-xs-12">
                <div class="modal-info-text">This password will be used by the user, anyone who would like to have access to your file.</div>
            </div>
            <div class="col-xs-12">
                <div class="group" ng-class="{'has-error': vm_pshare.form.password.$invalid && vm_pshare.form.password.$dirty}">
                    <input type="password" name="password" ng-model="vm_pshare.password" ng-model-options="{ updateOn: 'blur' }" required>
                    <!--ng-pattern="/^(?=.*\d)(?=.*[a-z])((?=.*[A-Z])|(?=.*[!@#$%^&*-_+=]))[0-9a-zA-Z\d!@#$%^&*-_+=]{8}$/g"-->
                    <label>New password</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="group" ng-class="{'has-error': vm_pshare.form.confirmPassword.$invalid && vm_pshare.form.confirmPassword.$dirty}">
                    <input type="password" name="confirmPassword" ng-model-options="{ updateOn: 'blur' }" ng-model="vm_pshare.confirmPassword" compare-to="vm_pshare.password" required>
                    <label>New password one more time</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="group" ng-class="{'has-error': vm_pshare.form.expDate.$dirty && vm_pshare.form.expDate.$invalid}" ng-mouseleave="vm_pshare.focusdt=false">
                    <div class="modal-date-btn"><a style="cursor:pointer" ng-model-options="{ updateOn: 'blur' }" ng-click="vm_pshare.focusdt=!vm_pshare.focusdt"><div class="ic-date"></div>Choose date</a></div>
                    <input type="text" name="expDate" datetimepicker datetimepicker-options="vm_pshare.dtOptions" focus-me="{{vm_pshare.focusdt}}" ng-model="vm_pshare.expDate" required>
                    <label>Expiration date (UTC)</label>
                </div>
            </div>
        </div>

        <div class="modal-body content-padding" ng-show="!vm_pshare.loading && vm_pshare.step ==2">
            <div class="col-xs-12">
                <div class="modal-info-text">Public link is active untill {{(vm_pshare.permissions.PublicPermission.ExpirationDate ? vm_pshare.permissions.PublicPermission.ExpirationDate : vm_pshare.expDate) | date:'MMM dd yyyy, HH:mm' }}</div>
            </div>
            <div class="col-xs-12">
                <div class="modal-link-text"><a target="_blank" href="{{vm_pshare.permissions.PublicPermission.Link}}">{{vm_pshare.permissions.PublicPermission.Link}}</a></div>
            </div>
        </div>

        <div class="modal-body content-padding" ng-show="vm_pshare.step==3">
            <div class="col-xs-12">
                <div class="modal-info-text content-bottom">If you continue, the file will be unavailable for people, using the current link.</div>
            </div>
        </div>

        <div class="modal-body content-padding" ng-show="vm_pshare.loading">
            <md-progress-circular md-mode="indeterminate" class="center-block" style="display: flex; align-items: center; justify-content: center;"></md-progress-circular>
        </div>

        <div class="modal-footer" ng-show="vm_pshare.loading">


        </div>

        <div class="modal-footer" ng-show="!vm_pshare.loading && vm_pshare.step == 1">
            <button class="btn btn-default uppercase" ng-click="vm_pshare.createPublicLink()">GENERATE LINK</button>
        </div>

        <div class="modal-footer both-btn-a" ng-show="!vm_pshare.loading && vm_pshare.step == 2">
            <!--<button class="btn btn-default uppercase" ng-click="" >COPY LINK</button>-->
            <button class="btn btn-default btn-default-white uppercase" ng-click="vm_pshare.step=1">UPDATE LINK</button>
            <div class="pull-right">
                <a ng-click="vm_pshare.step=3" style="cursor:pointer;" class="text-red">Delete</a>
            </div>
        </div>

        <div class="modal-footer" ng-show="!vm_pshare.loading && vm_pshare.step == 3">
            <div class="confirmation-text pull-left">DELETE LINK ?</div>
            <div class="pull-right">
                <a ng-click="vm_pshare.confirmDelete()" style="cursor:pointer;" class="text-red">DELETE</a>
                <a ng-click="vm_pshare.step=2" style="cursor:pointer;">CANCEL</a>
            </div>
        </div>
    </div>
</div>