﻿<div data-share-model>
    <div class="reveal-modal modal-with-sections share-modal">
        <div class="modal-header">
            <h3 class="pull-left" style="width: 400px;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">Share {{sharer.item.Name}}</h3>
            <div class="pull-right">
                <a style="cursor:pointer" ng-click="sharer.Close()"><div class="ic-cancel"></div></a>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-xs-12">
                <div class="row share-add-user" ng-form="sharer.form">
                    <div class="col-xs-9">
                        <div class="share-bubble">
                            <div class="ic-sign-up"></div>
                        </div>
                        <input type="text" ng-model="sharer.form_user_email" placeholder="Email" />
                    </div>
                    <div class="col-xs-3">
                        <div class="btn-group col-xs-12 bootstrap-select">
                            <button type="button" class="btn dropdown-toggle btn-select" data-toggle="dropdown" role="button" title="Write" style="width: 85px !important;">
                                <span class="filter-option pull-left">{{(sharer.writeRule ?  'Write' : 'Read')|translate}}</span>
                                <span class="bs-caret">
                                    <span class="caret"></span>
                                </span>
                            </button>
                            <div class="dropdown-menu open" role="combobox">
                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                    <li ng-click="sharer.writeRule = false"><a role="option"><span class="text">Read</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li ng-click="sharer.writeRule = true"><a role="option"><span class="text">Write</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:200px;padding-bottom: 20px;">
                    <div class="row">
                        <div class="col-xs-12 file-not-shared" ng-show="sharer.isloading">
                            <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                        </div>
                    </div>
                    <div class="row" ng-show="!sharer.isloading && sharer.permissions.UsersPemissions.length == 0">
                        <div class="col-xs-12 file-not-shared">
                            <div class="ic-share"></div><br />
                            This file is not shared for anyone. {{sharer.permissions.length}}
                        </div>
                    </div>
                    <div ng-show="!sharer.isloading && sharer.permissions.UsersPemissions.length != 0">
                        <div ng-slimscroll height="180px" watch="sharer.slimScrollTemp">
                            <div class="row" ng-repeat="item in sharer.permissions.UsersPemissions track by $index">
                                <div class="col-xs-9">
                                    <div class="share-bubble" style="background-color: #2196f3; text-align: center; font-size: 16px; padding-top:5px; color: white;">{{sharer.Globals.getShortName(item.User.Name)}}</div>
                                    <span>{{ item.User.Email }}</span>
                                </div>
                                <div class="col-xs-3">
                                    <div class="btn-group col-xs-12 bootstrap-select" >
                                        <button type="button" class="btn dropdown-toggle btn-select" data-toggle="dropdown" role="button" ng-title="{{item._permission.label}}" ng-click="sharer.slimScrollTemp = !sharer.slimScrollTemp"style="width: 85px !important;">
                                            <span class="filter-option pull-left">{{item._permission.label}}</span>
                                            <span class="bs-caret">
                                                <span class="caret"></span>
                                            </span>
                                        </button>
                                        <div class="dropdown-menu open" role="combobox">
                                            <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                <li ng-click="sharer.ChangeUserPermissions(item, sharer.form_permissions[1])"><a><span class="text">Read</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li ng-click="sharer.ChangeUserPermissions(item, sharer.form_permissions[2])"><a><span class="text">Write</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li ng-show="!item.Permission.InheritedFrom || item.Permission.InheritedFrom && item.Permission.OverridingPermission" ng-click="sharer.ChangeUserPermissions(item, sharer.form_permissions[0])"><a><span class="text-red">Remove</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="sharer.FormInviteUser()">DONE</button>
        </div>
    </div>
</div>
