﻿<div data-version-model>
    <div class="reveal-modal modal-with-sections version-control-modal">
        <div class="modal-header">
            <h3 class="pull-left" style="width: 400px;text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">Version Control</h3>
            <div class="pull-right">
                <a style="cursor:pointer;" ng-click="vm_version.Close()"><div class="ic-cancel"></div></a>
            </div>
        </div>
        <div class="modal-body content-padding">
            <div class="col-xs-12">
                <div class="vc-band C3">Actual</div>
            </div>
            <div class="col-xs-12">
                <div class="vc-list">
                    <div class="row upload-success">
                        <div class="col-xs-1">
                            <div class="vc-type">
                                <div ng-class="vm_version.Globals.getFileClass(vm_version.actualItem.ContentType)"></div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="vc-name B1">{{vm_version.actualItem.Name}}</div>
                            <div class="vc-details C1">{{file_size(vm_version.actualItem.Size)}} · {{vm_version.actualItem.DateCreated | dater:'yyyy MMM d'}} · {{vm_version.actualItem.CreatorName}}</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="vc-type text-right">
                                <a style="cursor:pointer" ng-click="vm_version.downloadVersion(vm_version.actualItem)"><div class="ic-download"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="vc-band C3">Previous</div>
            </div>
            <div class="col-xs-12">
                <div class="row" style="margin-right:-15px !important; margin-left:-15px!important;">
                    <div ng-slimscroll height="216px" watch="vm_version.loading">
                        <div class="col-xs-12" ng-repeat="item in vm_version.items | orderBy:$index:true " ng-if="!$first" ng-show="!vm_version.loading && vm_version.items.length">
                            <div class="vc-list">
                                <div class="row upload-success">
                                    <div class="col-xs-1">
                                        <div class="vc-type">
                                            <div ng-class="vm_version.Globals.getFileClass(vm_version.actualItem.ContentType)"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="vc-name B1">Version {{item.VersionNumber}}</div>
                                        <div class="vc-details C1">{{file_size(item.Size)}} · {{item.DateCreated | dater:'yyyy MMM d'}} · {{item.CreatorName}}</div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="vc-type text-right">
                                            <a style="cursor:pointer" ng-click="vm_version.downloadVersion(item)"><div class="ic-download"></div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="vm_version.loading">
                            <md-progress-circular md-mode="indeterminate" class="center-block" style="display: flex; align-items: center; justify-content: center;"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>