@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.text-danger {
  color: #F44336;
}

input[type="text"] {
  font-family: Roboto;
}

/* checkbox css*/
input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

input[type=checkbox]:after {
  box-sizing: border-box;
  content: '✔';
  color: #fff;
  background: #fff;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 15px;
  border-radius: 2px;
  text-align: center;
  border: 2px solid #212121;
}

input[type=checkbox]:hover:after {
  color: #fff;
  background: #fff;
  border-color: #2196F3;
}

input[type=checkbox]:checked:after {
  color: #fff;
  border-color: #2196F3;
  background-color: #2196F3;
}

input[type=checkbox]:checked:hover:after {
  color: #2196F3;
  background: #fff;
}

/* checkbox css end */
/* dropdown css */
.incrypta-dropdown, .incrypta-input {
  position: relative;
  width: 224px;
  height: 72px;
}

.incrypta-dropdown .dropdown-icon, .incrypta-dropdown .input-icon, .incrypta-input .dropdown-icon, .incrypta-input .input-icon {
  float: left;
  height: 71px;
  line-height: 72px;
  text-align: center;
  width: 20px;
  margin-left: 17px;
}

.incrypta-dropdown .dropdown-icon i, .incrypta-dropdown .input-icon i, .incrypta-input .dropdown-icon i, .incrypta-input .input-icon i {
  line-height: 24px;
  font-size: 24px;
  color: #757575;
  position: relative;
  top: 7px;
}

.incrypta-dropdown .dropdown-label, .incrypta-dropdown .input-label, .incrypta-input .dropdown-label, .incrypta-input .input-label {
  position: absolute;
  top: 1px;
  left: 40px;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  margin-top: 16px;
  padding-left: 16px;
  color: #757575;
}

.incrypta-dropdown .dropdown-value, .incrypta-input .dropdown-value {
  position: absolute;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  left: 56px;
  top: 40px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}

.incrypta-dropdown .dropdown-value.active, .incrypta-input .dropdown-value.active {
  color: #2196F3;
}

.incrypta-dropdown .dropdown-list, .incrypta-input .dropdown-list {
  display: block;
  top: 4px;
  left: 56px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding-left: 0px;
  margin-bottom: 0px;
  min-height: 56px;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  width: 164px;
  overflow-x: hidden;
  z-index: 2;
}

.incrypta-dropdown .dropdown-list li, .incrypta-input .dropdown-list li {
  display: block;
  height: 56px;
  width: 164px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.incrypta-dropdown .dropdown-list li.selected, .incrypta-input .dropdown-list li.selected {
  color: #2196F3;
}

.incrypta-dropdown .input-value input[type="text"], .incrypta-dropdown .input-value input[type="number"], .incrypta-dropdown .input-value input[type="email"], .incrypta-input .input-value input[type="text"], .incrypta-input .input-value input[type="number"], .incrypta-input .input-value input[type="email"] {
  position: absolute;
  width: 100%;
  color: #212121;
  background: #fff;
  font-size: 16px;
  line-height: 16px;
  left: 56px;
  top: 37px;
  cursor: pointer;
  border: none;
}

.incrypta-dropdown .input-value input[type="text"]:focus, .incrypta-dropdown .input-value input[type="number"]:focus, .incrypta-dropdown .input-value input[type="email"]:focus, .incrypta-input .input-value input[type="text"]:focus, .incrypta-input .input-value input[type="number"]:focus, .incrypta-input .input-value input[type="email"]:focus {
  color: #2196F3;
}

/* dropdown css end */
/* custom scroll */
.incrypta-scroll {
  overflow-y-: auto;
}

.incrypta-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.incrypta-scroll::-webkit-scrollbar {
  width: 6px;
}

.incrypta-scroll::-webkit-scrollbar-thumb {
  background-color: #2196F3;
}

/* custom scroll */
/* multiselect css */
.incrypta-multiselect {
  min-height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}

.incrypta-multiselect .selected-items {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

.incrypta-multiselect .selected-items li {
  display: block;
  float: left;
  height: 32px;
  line-height: 34px;
  padding-right: 3px;
  padding-left: 16px;
  background-color: #E3F2FD;
  border-radius: 16px;
  font-size: 14px;
  margin: 8px;
  margin-right: 0;
}

.incrypta-multiselect .selected-items li.unselected {
  color: #2196F3;
  background-color: #fff;
  font-size: 16px;
}

.incrypta-multiselect .selected-items li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.incrypta-multiselect .selected-items li i {
  position: relative;
  top: -13px;
  display: inline-block;
  padding-left: 9px;
  padding-right: 8px;
  font-style: normal;
  cursor: pointer;
}

.incrypta-multiselect .selected-items .edit-button {
  height: 32px;
  line-height: 33px;
  padding-right: 16px;
  padding-left: 9px;
  text-transform: uppercase;
  font-size: 14px;
  margin: 8px;
  font-weight: 500;
  color: #2196F3;
  background: #fff;
  cursor: pointer;
}

.incrypta-multiselect .multiselect-list {
  display: block;
  top: 4px;
  right: 4px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding-left: 0px;
  margin-bottom: 0px;
  min-height: 56px;
  max-height: 280px;
  overflow-y: auto;
  position: absolute;
  width: 50%;
  min-width: 250px;
  overflow-x: hidden;
}

.incrypta-multiselect .multiselect-list li {
  display: block;
  height: 56px;
  width: 164px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.incrypta-multiselect .multiselect-list li.selected {
  color: #2196F3;
}

.multiselect-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.multiselect-modal .modal-body {
  top: 50%;
  left: 50%;
  position: relative;
  background-color: #fff;
  height: 452px !important;
  margin-left: -248px !important;
  margin-top: -226px !important;
  padding: 0 !important;
  border: 1px solid #888;
  width: 496px !important;
  text-align: left;
  color: #212121;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
}

.multiselect-modal .modal-body.empty {
  height: 416px !important;
  margin-top: -208px !important;
}

.multiselect-modal header {
  background-color: #F1F8FE;
  position: relative;
  height: 64px;
}

.multiselect-modal header .multiselect-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  line-height: 62px;
  margin-left: 14px;
  float: initial;
  overflow: hidden;
}

.multiselect-modal header .multiselect-close {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 24px;
  height: 64px;
  line-height: 64px;
  margin-right: 11px;
  font-size: 20px;
  color: #757575;
  cursor: pointer;
}

.multiselect-modal .multiselect-search {
  height: 64px;
  background: #fff;
  padding: 14px 14px;
}

.multiselect-modal .multiselect-search i {
  color: #B2B2B2;
  position: relative;
  top: 5px;
  left: 1px;
}

.multiselect-modal .multiselect-search input[type="text"] {
  padding-left: 8px;
  border: none;
  width: 245px;
  font-size: 14px;
  top: -2px;
  position: relative;
  margin-left: 5px;
}

.multiselect-modal .multiselect-check-list {
  display: block;
  padding-top: 6px;
  padding-bottom: 8px;
  height: 257px;
  padding-left: 0;
  overflow-x: hidden;
  border-top: 1px solid #DBE7F4;
  margin-top: 0;
  margin-bottom: 2px;
}

.multiselect-modal .multiselect-check-list > li {
  display: block;
  position: relative;
  height: 48px;
  padding: 12px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiselect-modal .multiselect-check-list > li span {
  padding-left: 12px;
}

.multiselect-modal .multiselect-check-list > li span.top {
  position: absolute;
  top: 12px;
  left: 42px;
}

.multiselect-modal .multiselect-check-list > li span.bottom {
  position: absolute;
  bottom: 13px;
  left: 42px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #757575;
}

.multiselect-modal .multiselect-check-list > li.no-data {
  color: #757575;
  padding-left: 54px;
}

.multiselect-modal .multiselect-check-list > li.empty-list {
  height: auto;
  text-align: center;
}

.multiselect-modal .multiselect-check-list > li.empty-list i {
  margin-top: 29px;
  font-size: 96px;
  color: #B2B2B2;
}

.multiselect-modal .multiselect-check-list > li.empty-list .title {
  margin-top: -7px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
}

.multiselect-modal .multiselect-check-list > li.empty-list .descr {
  margin-top: 59px;
  position: relative;
  top: 9px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #757575;
  width: 186px;
  margin: 0 auto;
  white-space: normal;
}

.multiselect-modal .multiselect-check-list > li.empty-list .create {
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #2196F3;
  text-transform: uppercase;
  margin-top: 41px;
  cursor: pointer;
}

.multiselect-modal .multiselect-check-list > li.big {
  height: 72px;
}

.multiselect-modal .multiselect-check-list > li.big input[type="checkbox"] {
  margin-top: 15px;
  margin-left: 3px;
}

.multiselect-modal .multiselect-check-list.empty-list {
  height: 380px;
  border-top: 0;
}

.multiselect-modal footer {
  height: 64px;
  background-color: #F1F8FE;
  position: relative;
}

.multiselect-modal footer .confirm-button {
  position: absolute;
  font-size: 14px;
  top: 14px;
  right: 15px;
  width: 112px;
  height: 36px;
  letter-spacing: 0.2px;
  background-color: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.modal-confirm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-confirm .modal-body {
  top: 50%;
  left: 50%;
  position: relative;
  background-color: #fff;
  height: 184px !important;
  margin-left: -169px !important;
  margin-top: -92px !important;
  padding: 0 !important;
  border: 1px solid #888;
  width: 336px !important;
  text-align: left;
  color: #212121;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.modal-confirm h4 {
  font-size: 20px;
  line-height: 24px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-top: 19px;
}

.modal-confirm #modalConfirmDescr {
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 28px;
  padding-left: 16px;
  padding-right: 25px;
}

.modal-confirm .modal-button {
  float: right;
  margin-right: 5px;
  font-size: 14px;
  line-height: 24px;
  display: block;
  background: #fff;
  border: 0;
  text-transform: uppercase;
  height: 20px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 600;
  width: 68px;
}

.modal-confirm .modal-button#modalConfirmYes {
  color: #F44336;
}

.modal-confirm .modal-button#modalConfirmNo {
  color: #2196F3;
  margin-right: 24px;
}

.btn {
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.float-right {
  position: relative;
  float: right;
}

.float-left {
  position: relative;
  float: left;
}

.margin-top--15 {
  margin-top: -15px;
}

.padding-left-16 {
  padding-left: 16px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
}

i {
  position: relative;
}

body {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
.text-red {
  color: #F44336;
}

.container {
  position: relative;
  width: 944px !important;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  min-height: 100%;
}

header.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #2196F3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
}

header.main-header .header-left {
  position: absolute;
  height: 36px;
  top: 14px;
  width: 240px;
}

header.main-header .header-left .header-logo {
  background: url("./lgIncryptaBlue.png");
  width: 30px;
  height: 36px;
}

header.main-header .header-left .header-title {
  position: absolute;
  top: 3px;
  left: 38px;
  height: 24px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  width: 140px;
  color: #fff;
}

header.main-header .header-right {
  position: absolute;
  right: 0;
  top: 12px;
  height: 40px;
  width: 160px;
  color: #fff;
}

header.main-header .header-right .prof-pic {
  float: right;
}

header.main-header .header-right .header-icon {
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
}

header.main-header .header-right .header-icon i {
  margin-top: 8px;
  font-size: 20px;
  line-height: 24px;
}

.prof-pic {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.prof-pic img {
  width: 100%;
}

.content-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 72px;
}

.content-container .main-content {
  position: absolute;
  height: 100%;
  width: 704px;
  top: 0;
  left: 240px;
}

.content-container .sidebar-menu {
  position: absolute;
  width: 240px;
  float: left;
  color: #212121;
  overflow: hidden;
}

.content-container .sidebar-menu ul {
  display: block;
  padding-left: 0;
  margin: 0;
}

.content-container .sidebar-menu ul li {
  display: block;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  font-size: 16px;
}

.content-container .sidebar-menu ul li div i {
  font-size: 24px;
  line-height: 24px;
  width: 24px;
  text-align: center;
  margin-right: 12px;
  top: 7px;
  position: relative;
  color: #757575;
}

.content-container .sidebar-menu ul li.active div i {
  color: #2196F3;
}

.incrypta-table {
  height: 100%;
  padding-bottom: 70px;
  overflow: auto;
}

.incrypta-table .table-status {
  position: relative;
  height: 72px;
  box-sizing: initial;
  padding: 8px;
  padding-right: 0px;
  padding-top: 0;
  padding-left: 16px;
  border-bottom: 1px solid #DBE7F4;
  overflow: hidden;
}

.incrypta-table .table-status .delete-user {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #F44336;
  text-transform: uppercase;
  margin-top: 26px;
  margin-right: 16px;
  cursor: pointer;
  float: right;
}

.incrypta-table .table-status .delete-user.suspend {
  color: #2196F3;
}

.incrypta-table .table-status .status-left {
  overflow: hidden;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.incrypta-table .table-status .status-left .status-main {
  position: absolute;
  top: 12px;
  font-size: 20px;
  line-height: 24px;
}

.incrypta-table .table-status .status-left .status-main.no-descr {
  position: relative;
  top: 0;
  line-height: 72px;
}

.incrypta-table .table-status .status-left .status-descr {
  position: absolute;
  top: 37px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.incrypta-table .table-status .status-left .status-descr.no-descr {
  display: none;
}

.incrypta-table .table-status .status-right {
  position: relative;
  float: right;
}

.incrypta-table .table-status .status-right .searchbar {
  margin-top: 18px;
  background-color: #F1F8FE;
  height: 36px;
  border-radius: 18px;
  width: 304px;
  color: #757575;
  position: relative;
}

.incrypta-table .table-status .status-right .searchbar .search-clear {
  position: absolute;
  right: 12px;
  top: 3px;
  font-size: 20px;
  color: #757575;
}

.incrypta-table .table-status .status-right .searchbar .search-clear i {
  top: 3px;
}

.incrypta-table .table-status .status-right .searchbar label {
  line-height: 36px;
  font-size: 18px;
  height: 24px;
  cursor: pointer;
  margin-left: 12px;
  position: relative;
  top: 6px;
  color: #B2B2B2;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"] {
  padding: 0 0 0 4px;
  border: none;
  background: #fff;
  width: 215px;
  -webkit-transition: width .25s;
  transition: width .25s;
  background-color: #F1F8FE;
  height: 21px;
  font-size: 14px;
  color: #212121;
  position: relative;
  top: -1px;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B2B2B2;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #B2B2B2;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #B2B2B2;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #B2B2B2;
}

.incrypta-table .table-status .status-right .searchbar input[type="text"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.incrypta-table .table-status .status-right .searchbar #search-close {
  font-style: normal;
  cursor: pointer;
}

.incrypta-table .table-header {
  height: 48px;
  box-sizing: initial;
  padding: 8px;
  padding-top: 7px;
  padding-left: 16px;
  border-bottom: 1px solid #DBE7F4;
  color: #757575;
  font-weight: 500;
  text-transform: capitalize;
}

.incrypta-table .table-header div {
  font-size: 14px;
  line-height: 50px;
  position: relative;
}

.incrypta-table .table-header .members {
  float: right;
  width: 136px;
  padding-right: 16px;
  box-sizing: border-box;
}

.incrypta-table .table-header .role {
  float: right;
  width: 160px;
  padding-right: 16px;
  box-sizing: border-box;
}

.incrypta-table .table-header .status {
  float: right;
  width: 110px;
  padding-right: 16px;
  box-sizing: border-box;
}

.incrypta-table .table-header .user-data, .incrypta-table .table-header .device-name, .incrypta-table .table-header .event-name, .incrypta-table .table-header .group-data {
  float: initial;
}

.incrypta-table .table-header .options-placeholder {
  float: right;
  padding-right: 6px;
}

.incrypta-table .table-header .options-placeholder i {
  line-height: 24px;
  font-size: 20px;
  visibility: hidden;
}

.incrypta-table .table-header .device-activity {
  float: right;
  width: 270px;
  text-transform: none;
}

.incrypta-table .table-header .event-time {
  float: right;
  width: 135px;
}

.incrypta-table .table-content {
  padding: 8px 0;
  min-height: 72px;
  color: #212121;
}

.incrypta-table .table-content div {
  font-size: 14px;
  line-height: 72px;
  position: relative;
}

.incrypta-table .table-content .event-name {
  font-size: 16px;
  line-height: 70px;
  height: 72px;
}

.incrypta-table .table-content .table-row {
  padding-left: 16px;
  padding-right: 8px;
  width: 100%;
}

.incrypta-table .table-content .table-row .members {
  float: right;
  width: 110px;
  padding-right: 16px;
  box-sizing: border-box;
}

.incrypta-table .table-content .table-row .role {
  float: right;
  width: 160px;
  padding-right: 16px;
}

.incrypta-table .table-content .table-row .status {
  float: right;
  width: 110px;
  padding-right: 16px;
}

.incrypta-table .table-content .table-row .user-data {
  float: initial;
  overflow: hidden;
  height: 72px;
}

.incrypta-table .table-content .table-row .user-data .user-name {
  position: absolute;
  top: 11px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.incrypta-table .table-content .table-row .user-data .user-name.no-name {
  display: none;
}

.incrypta-table .table-content .table-row .user-data .user-email {
  position: absolute;
  top: 34px;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}

.incrypta-table .table-content .table-row .user-data .user-email.no-name {
  position: relative;
  line-height: 70px;
  font-size: 16px;
  top: 0;
  opacity: 1;
  color: #212121;
}

.incrypta-table .table-content .table-row .group-data {
  float: initial;
  overflow: hidden;
  height: 72px;
}

.incrypta-table .table-content .table-row .group-data .group-name {
  position: absolute;
  top: 11px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.incrypta-table .table-content .table-row .group-data .group-name.no-desc {
  top: 23px;
}

.incrypta-table .table-content .table-row .group-data .group-desc {
  position: absolute;
  top: 36px;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
}

.incrypta-table .table-content .table-row .group-data .group-desc.no-desc {
  display: none;
}

.incrypta-table .table-content .table-row .options {
  padding-right: 2px;
  float: right;
  cursor: pointer;
  text-align: center;
}

.incrypta-table .table-content .table-row .options i {
  line-height: 24px;
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #757575;
}

.incrypta-table .table-content .table-row .options .options-dropdown {
  display: block;
  width: 112px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding: 8px 0;
  position: absolute;
  top: 4px;
  right: -5px;
  z-index: 2;
  text-align: left;
  margin: 0;
}

.incrypta-table .table-content .table-row .options .options-dropdown .dropdown-item {
  display: block;
  padding: 0 16px;
  box-sizing: initial;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
}

.incrypta-table .table-content .table-row .device-activity {
  float: right;
  width: 270px;
  color: #757575;
}

.incrypta-table .table-content .table-row .device-activity .activity-time {
  position: absolute;
  top: 14px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}

.incrypta-table .table-content .table-row .device-activity .activity-place {
  position: absolute;
  top: 38px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

.incrypta-table .table-content .table-row .device-name {
  float: initial;
  overflow: hidden;
}

.incrypta-table .table-content .table-row .device-name i {
  font-size: 24px;
  line-height: 24px;
  margin-left: 0px;
  position: relative;
  top: 7px;
  color: #757575;
}

.incrypta-table .table-content .table-row .device-name span {
  margin-left: 12px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}

.incrypta-table .table-content .table-row.no-data, .incrypta-table .table-content .table-row.search-empty {
  margin-top: 48px;
  text-align: center;
}

.incrypta-table .table-content .table-row.no-data i, .incrypta-table .table-content .table-row.search-empty i {
  height: 96px;
  font-size: 96px;
  color: #B2B2B2;
  position: relative;
  margin-left: -8px;
  margin-top: -1px;
}

.incrypta-table .table-content .table-row.no-data .not-found-title, .incrypta-table .table-content .table-row.search-empty .not-found-title {
  height: 24px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-top: -31px;
  margin-left: -8px;
}

.incrypta-table .table-content .table-row.no-data .not-found-text, .incrypta-table .table-content .table-row.search-empty .not-found-text {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 8px;
  margin-left: -4px;
  color: #757575;
  width: 100%;
  text-align: center;
  padding: 0px 256px;
}

.incrypta-table .table-content .table-row.no-data:hover, .incrypta-table .table-content .table-row.search-empty:hover {
  background-color: #fff;
}

.incrypta-table .table-content .table-row.invite {
  position: absolute;
  bottom: 0;
  right: 8px;
  overflow: visible;
}

.incrypta-table .table-content .table-row.invite:hover {
  background-color: #fff;
}

.incrypta-table .table-content .table-row:hover {
  background-color: #F1F8FE;
}

.incrypta-table .table-content .table-row:hover .user-name {
  text-decoration: underline;
}

.incrypta-table .table-content .event-time {
  float: right;
  width: 135px;
}

.invite-add {
  width: 64px;
  height: 64px;
  float: right;
  border-radius: 32px;
  background: #2196F3;
  cursor: pointer;
  line-height: 64px !important;
  bottom: 32px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.invite-add i {
  position: relative;
  top: 7px;
}

.profile-content {
  font-family: Roboto;
  color: #212121;
}

.profile-content .status-left {
  overflow: hidden;
}

.profile-content .status-left .status-main {
  position: absolute;
  top: 12px;
  font-size: 20px;
  line-height: 24px;
}

.profile-content .status-left .status-main.no-descr {
  position: relative;
  top: 0;
  line-height: 72px;
}

.profile-content .status-left .status-descr {
  position: absolute;
  top: 36px;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.profile-content .status-left .status-descr.no-descr {
  display: none;
}

.profile-content .profile-header {
  height: 72px;
  position: relative;
}

.profile-content .profile-header .header-left {
  overflow: hidden;
}

.profile-content .profile-header .header-left .prof-pic {
  float: left;
  margin-top: 12px;
  margin-left: 16px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.profile-content .profile-header .header-left .prof-pic img {
  margin-right: 16px;
}

.profile-content .profile-header .header-left .prof-pic .prof-initials {
  width: 100%;
  height: 48px;
  background-color: #4CAF50;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  color: #fff;
}

.profile-content .profile-header .header-left .prof-name {
  float: left;
  font-size: 20px;
  line-height: 72px;
}

.profile-content .profile-header .header-right {
  position: relative;
  float: right;
}

.profile-content .profile-header .header-right .delete-user {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #F44336;
  text-transform: uppercase;
  margin-top: 19px;
  width: 122px;
  cursor: pointer;
  float: right;
}

.profile-content .profile-header .header-right .delete-user.suspend {
  color: #2196F3;
  width: 96px;
}

.profile-content .profile-header .header-right .delete-group {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  color: #F44336;
  text-transform: uppercase;
  margin-top: 19px;
  width: 133px;
  cursor: pointer;
  float: right;
}

.profile-content .profile-router-links {
  display: block;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 16px;
  position: relative;
  border-bottom: 1px solid #DBE7F4;
  padding-left: 0;
}

.profile-content .profile-router-links > li {
  display: block;
  position: relative;
  width: 112px;
  float: left;
  height: 48px;
  line-height: 50px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding-left: 0;
  cursor: pointer;
  color: #757575;
}

.profile-content .profile-router-links > li.active {
  color: #2196F3;
  border-bottom: 2px solid #2196F3;
}

.profile-info {
  padding-top: 0;
  margin-left: 0px;
}

#user-invite-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

#user-invite-modal .modal-body {
  height: 304px;
  width: 496px;
  top: 50%;
  left: 50%;
  margin-left: -248px;
  margin-top: -152px;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 0 16px 0 rgba(0, 0, 0, 0.12);
}

#user-invite-modal .modal-body header {
  height: 64px;
  background: #F1F8FE;
}

#user-invite-modal .modal-body header .multiselect-title {
  height: 64px;
  line-height: 64px;
  padding-left: 16px;
  font-size: 20px;
  position: absolute;
}

#user-invite-modal .modal-body header .multiselect-close {
  position: absolute;
  right: 16px;
  font-size: 20px;
  line-height: 64px;
  color: #757575;
}

#user-invite-modal .modal-body header .multiselect-close i {
  top: 5px;
  cursor: pointer;
}

#user-invite-modal textarea {
  height: 156px;
  width: 100%;
  border: 0;
  padding: 16px;
  resize: none;
  margin-top: 9px;
  margin-bottom: 7px;
  line-height: 1.43;
  font-size: 14px;
}

#user-invite-modal textarea:focus {
  outline: none;
}

#user-invite-modal footer {
  height: 64px;
  background: #F1F8FE;
  position: relative;
}

#user-invite-modal footer .import {
  position: absolute;
  top: 24px;
  left: 16px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #2196F3;
  cursor: pointer;
  letter-spacing: 0.2px;
}

#user-invite-modal footer .confirm-button {
  width: 112px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 14px;
  right: 16px;
}

#multiselectModal .modal-body {
  height: 416px;
}

.group-info {
  margin-top: -7px;
}

.group-info .group-info-input {
  height: 72px;
  position: relative;
  padding-left: 16px;
}

.group-info .group-info-input label {
  height: 20px;
  font-size: 14px;
  color: #757575;
  position: absolute;
  top: 15px;
  left: 16px;
}

.group-info .group-info-input input {
  width: 100%;
  height: 29px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin-top: 36px;
  border: 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #dbe7f4;
}

.modal-show {
  display: block !important;
}

.modal-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 9999;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: white;
  width: 496px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12), 0 16px 16px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}

.modal-container header {
  box-shadow: none;
  background-color: #F1F8FE;
  height: 64px;
  line-height: 24px;
  vertical-align: middle;
  font-size: 20px;
  color: #212121;
  padding: 20px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-container header i {
  position: relative;
  color: #757575;
  cursor: pointer;
}

.modal-container footer {
  box-shadow: none;
  background-color: #F1F8FE;
  min-height: 64px;
  vertical-align: middle;
  color: #212121;
  padding: 14px 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal-container footer a {
  line-height: 36px;
  font-size: 14px;
  vertical-align: middle;
}

.modal-container footer button {
  width: 112px;
  height: 36px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.modal-container .content {
  padding: 8px 0;
}

.modal-container .content input {
  width: 100%;
  border: none;
  margin-bottom: 8px;
  height: 48px;
  padding: 9px 16px 12px 17px;
}

.modal-container .content input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B2B2B2;
}

.modal-container .content input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B2B2B2;
}

.modal-container .content input:-ms-input-placeholder {
  /* IE 10+ */
  color: #B2B2B2;
}

.modal-container .content input:-moz-placeholder {
  /* Firefox 18- */
  color: #B2B2B2;
}

.modal-container .content input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.modal-container .content textarea {
  width: 100%;
  border: none;
  height: 100px;
  padding: 21px 15px;
  resize: none;
  border-top: 1px solid #dbe7f4;
  font-size: 14px;
  line-height: 1.43;
}

.modal-container .content textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B2B2B2;
}

.modal-container .content textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #B2B2B2;
}

.modal-container .content textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #B2B2B2;
}

.modal-container .content textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #B2B2B2;
}

.modal-container .content textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

@media (max-width: 500px) {
  .modal-container {
    width: 95%;
  }
}

.modal-bg2 {
  position: fixed;
  z-index: 10000;
  width: 100%;
  bottom: 5%;
  left: 0;
  display: none;
}

.modal-bg2 .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-animation: fadeIn 1s linear forwards;
  animation: fadeIn 1s linear forwards;
}

.modal-bg2 .modal-content label {
  opacity: 0.54;
}

.modal-bg2 .modal-content .modal-body {
  padding: 16px 24px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

#modal-toastr {
  position: fixed;
  bottom: 24px;
  width: 100%;
}

#modal-toastr .modal-body {
  position: relative;
  width: 304px;
  height: 52px;
  border-radius: 2px;
  background-color: #f8fbfe;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
}

#modal-toastr .modal-body span {
  height: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  padding: 17px;
  position: absolute;
}

#modal-toastr .modal-body span.undo {
  right: 0;
  color: #2196F3;
  text-transform: uppercase;
  padding-right: 11px;
}

/*# sourceMappingURL=app.css.map */
