﻿<div class="fixed" style="background-color: white;z-index: 2;padding-top: 7px;width:770px;margin-left: 15px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="select">
                <div class="btn-group bootstrap-select" style="padding:0px;width: 100%;">
                    <button type="button" class="btn dropdown-toggle btn-select" data-toggle="dropdown" role="button" title="Click to open" style="padding-left:0px !important;height: 48px;">
                        <div class="col-xs-1">
                            <div class="ic-folder" ng-show="vm_collection.Globals.breadcrumbs.length> 1"></div>
                        </div>
                        <div class="col-xs-7 pull-left" style="text-align: left;">
                            <div class="cloud_title_name" style="overflow-x: hidden; text-overflow: ellipsis; width:inherit">
                                {{vm_collection.Globals.breadcrumbs[vm_collection.Globals.breadcrumbs.length-1].Name == "~" ? 'My Cloud' : vm_collection.Globals.breadcrumbs[vm_collection.Globals.breadcrumbs.length-1].Name}}
                            </div>
                        </div>
                    </button>
                    <div class="breadcrumbs-node" ng-class="{'dropdown-menu open': vm_collection.Globals.breadcrumbs.length> 1}" role="combobox" >
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="padding: 4px 4px;">
                            <li ng-repeat="breadcrumb in vm_collection.Globals.breadcrumbs| orderBy:$index:true" ng-if="!$first">
                                <span class="ic-folder pull-left"></span>
                                <a style="clear: none !important" role="option" href="/cloud/{{breadcrumb.UniqueId}}">
                                    <div ng-if="$last">My Cloud</div>
                                    <div ng-if="!$last" style="overflow-x: hidden;text-overflow: ellipsis; width: inherit;" class="text">{{breadcrumb.Name}}</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="select">
                <ul class="options" style="margin-bottom: 0px;padding: 0px; height:44px;margin-left: -10px;" ng-class="{'disable-actions':vm_collection.showRename || vm_collection.showCreateFolder}">
                    <li class="option" data-do-upload ng-hide="((vm_collection.directories | filter:{Selected:'true'}).length > 0 || (vm_collection.files | filter : {Selected:'true'}).length > 0)"><a style="cursor:pointer"><div class="ic-add-file"></div>Upload File</a></li>
                    <li class="option" ng-click="vm_collection.showCreateFolder = !vm_collection.showCreateFolder" ng-hide="((vm_collection.directories | filter:{Selected:'true'}).length > 0 || (vm_collection.files | filter : {Selected:'true'}).length > 0)"><a style="cursor:pointer" class="ui-cloud-create-folder"><div class="ic-add-folder"></div>Create Folder</a></li>
                    <li class="option-red" ng-click="vm_collection.groupDelete();" ng-show="((vm_collection.directories | filter:{Selected:'true'}).length > 0 || (vm_collection.files | filter : {Selected:'true'}).length > 0)"><a style="cursor:pointer"><div class="ic-delete"></div>Delete</a></li>
                    <li class="option" ng-click="vm_collection.rename()" ng-show="(vm_collection.directories | filter:{Selected:'true'}).length + (vm_collection.files | filter : {Selected:'true'}).length == 1"><a style="cursor:pointer" class="ui-cloud-rename"><div class="ic-rename"></div>Rename</a></li>
                    <li class="option" data-get-model-template="share" ng-show="(vm_collection.directories | filter:{Selected:'true'}).length + (vm_collection.files | filter : {Selected:'true'}).length == 1"><a style="cursor:pointer"><div class="ic-share"></div>Share</a></li>
                    <li class="option" ng-click="vm_collection.groupDownload()" ng-show="(((vm_collection.directories | filter:{Selected:'true'}).length > 0 || (vm_collection.files | filter : {Selected:'true'}).length > 0)) && (vm_collection.directories | filter:{Selected:'true'}).length == 0"><a style="cursor:pointer"><div class="ic-download"></div>Download</a></li>
                    <li class="option" data-get-model-template="versions" ng-show="(vm_collection.directories | filter:{Selected:'true'}).length == 0 && (vm_collection.files | filter : {Selected:'true'}).length == 1"><a style="cursor:pointer" class="ui-cloud-rename"><div class="ic-file-gray"></div>Versions</a></li>
                    <li class="option" data-get-model-template="public-share" ng-show="(vm_collection.files | filter : {Selected:'true'}).length == 1 && (vm_collection.directories | filter:{Selected:'true'}).length == 0"><a style="cursor:pointer"><div class="ic-share"></div>Public Link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="files-list">
                <div class="row header" style="cursor:default;margin-right: -19px;margin-left: -15px;">
                    <div class="col-xs-1">
                        <div class="ic-arrow-down"></div>
                    </div>
                    <div class="col-xs-7 name">
                        {{ 'Name' | translate }}
                    </div>
                    <div class="col-xs-2">
                        {{ 'Modified' | translate }}
                    </div>
                    <div class="col-xs-2">
                        {{ 'Size' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="content">
    <div class="col-xs-12">
        <div class="files-list" style="margin-top: 148px;">
            <div class="row folder" style="margin-left: 0px; margin-right: 0px;" ng-show="vm_collection.showCreateFolder" ng-form="vm_collection.Form" ng-class="{'blured' : vm_collection.Globals.isSpinning()}" ng-keydown="vm_collection.handleKeyDown($event.which)">
                <div class="col-xs-1">
                    <div class="ic-folder"></div>
                </div>
                <div class="col-xs-8 name">
                    <input type="text" name="foldername" focus-me="{{vm_collection.showCreateFolder}}" ng-class="{'createFolderError': vm_collection.errorMessage}" ng-blur="vm_collection.clickOutSideHandle($event)" ng-model="vm_collection.foldername" placeholder="Folder name" required>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row folder hover_item" style="margin-left: 0px; margin-right: 0px;cursor:default !important;" ng-repeat="item in _directories = (vm_collection.directories | filter :{Name:init.search})" ng-init="item.Selected=false" ng-click="(!vm_collection.showCreateFolder && !vm_collection.showRename) && (item.Selected = !item.Selected)" ng-class="{'active': item.Selected}">
                <div class="col-xs-1">
                    <div class="ic-folder"></div>
                </div>
                <div class="col-xs-7 name" style="overflow-x: hidden;text-overflow: ellipsis; white-space: nowrap;">
                    <a href="/cloud/{{item.UniqueId}}" style="cursor:pointer !important;" ng-hide="item.rename" ng-model="item.Name" ng-trim="false">{{item.Name}}</a>
                    <input type="text" ng-show="item.rename" focus-me="{{item.rename}}" ng-class="{'createFolderError': item.error}" ng-init="item.tempName=item.Name" ng-model="item.tempName" ng-trim="false" ng-blur="vm_collection.clickOutSideHandle($event)">
                </div>
                <div class="col-xs-2">
                    <span>{{ item.DateCreated | date:'dd MMM yyyy' }}</span>
                </div>
                <div class="col-xs-2">
                    <span>-</span>
                </div>
            </div>
            <div class="row file hover_item" style="margin-left: 0px; margin-right: 0px;cursor:default;" ng-repeat="item in _files = (vm_collection.files | filter :{Name:init.search})" ng-click="(!vm_collection.showCreateFolder && !vm_collection.showRename) && (item.Selected = !item.Selected)" ng-class="{'active': item.Selected}">
                <div class="col-xs-1">
                    <div ng-class="vm_collection.Globals.getFileClass(item.ContentType)"></div>
                </div>
                <div class="col-xs-7 name" style="overflow-x: hidden !important;text-overflow: ellipsis !important; white-space: nowrap;">
                    <span ng-hide="item.rename" ng-model="item.Name" ng-trim="false">{{ item.Name }}</span>
                    <input type="text" ng-show="item.rename" focus-me="{{item.rename}}" ng-class="{'createFolderError': item.error}" ng-init="item.tempName=item.Name" ng-model="item.tempName" ng-trim="false"  ng-blur="vm_collection.clickOutSideHandle($event)">
                </div>
                <div class="col-xs-2">
                    <span>{{ item.DateModified | date:'dd MMM yyyy' }}</span>
                </div>
                <div class="col-xs-2">
                    <span>{{ file_size(item.Size) }}</span>
                </div>
            </div>
        </div>
        <div class="files-list" ng-show="init.search && !_directories.length && !_files.length && !vm_collection.loading" style="display: flex; align-items: center; justify-content: center;">
            <div class="row no-files" >
                <div class="col-xs-12" style="text-align:center;">
                    <div class="empty-search"></div>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;color: #212121;">Nothing found</h4>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;color: #757575;">Couldn't find anything<br />Check spelling and repeat.</h4>
                </div>
            </div>
        </div>
        <div class="files-list" ng-show="!init.search && !vm_collection.files.length && !vm_collection.directories.length && !vm_collection.loading" style="display: flex; align-items: center; justify-content: center;">
            <div class="row no-files" >
                <div class="col-xs-12" style="text-align:center;">
                    <div class="empty-cloud"></div>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;color: #212121;">No files</h4>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;color: #757575;">Upload files to secure them.</h4>
                </div>
            </div>
        </div>
        <div class="files-list" ng-show="vm_collection.loading" style="display: flex; align-items: center; justify-content: center;">
            <div class="row no-files loader">
                <div class="col-xs-12">
                    <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
</div>
