﻿<div class="row">
    <div class="col-xs-12 notifications-list">
        <div class="row" ng-show="vm_events.loading">
            <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
        </div>
        <div class="row" ng-show="!vm_events.loading && vm_events.events.length" ng-repeat="item in vm_events.events">
            <div class="col-xs-9" ng-if="item.EventType==51">
                <div class="ic-add"></div>
                {{item.SenderName}} have shared
                <a href="/shared/{{item.SenderUniqueId}}">{{item.StorageNodeName}}</a>
            </div>
            <div class="col-xs-9" ng-if="item.EventType==53">
                <div class="ic-delete"></div>
                {{item.SenderName}} revoked access to the
                {{item.StorageNodeName}}
            </div>
            <div class="col-xs-3">
                {{item.DateCreated | date:'dd MMM yyyy'}}
            </div>
        </div>
        <div class="row" ng-show="!vm_events.loading && !vm_events.events.length">
            ... empty ... 
        </div>
    </div>
</div>
