﻿<div class="row">
    <div class="col-xs-12">
        <div class="select">
            <div class="btn-group bootstrap-select">
                <button type="button" class="btn dropdown-toggle btn-select" data-toggle="dropdown" role="button" title="Click to open" style="overflow-x: hidden; text-overflow: ellipsis;padding-left:0px !important">
                    <div class="col-xs-1">
                        <div class="bs-caret pull-left" style="margin-top:5px;">
                            <span class="default-caret" ng-show="vm_shared.path.length > 0"></span>
                        </div>
                    </div>
                    <div class="col-xs-4" style="margin-left:14px;"><div class="cloud_title_name">{{vm_shared.path.length == 0 ? vm_shared.user.Name + '\'s files' : vm_shared.path[vm_shared.path.length-1].Name}}</div></div>
                </button>
                <div ng-class="{'dropdown-menu open': vm_shared.path.length > 0}" role="combobox">
                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                        <li ng-repeat="item in vm_shared.path | orderBy:$index:true" ng-if="!$first">
                            <span class="ic-folder pull-left"></span>
                            <a style="clear: none !important" role="option" href="/shared/{{(vm_shared.user.UniqueId}}/{{item.UniqueId}}">
                                <span ng-if="!$last" class="text">{{item.Name}}</span>
                            </a>
                        </li>
                        <li ng-show="vm_shared.path.length > 0 ">
                            <span class="ic-folder pull-left"></span>
                            <a style="clear: none !important" role="option" href="/shared/{{vm_shared.user.UniqueId}}">
                                <span>{{vm_shared.user.Name}}'s files</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="options" style="margin-bottom:0px; height:44px">
                <!--<li class="option" data-do-upload ng-hide="((vm_shared.directories | filter:{Selected:'true'}).length > 0 || (vm_shared.files | filter : {Selected:'true'}).length > 0)"><a href="#"><div class="ic-add-file"></div> Upload File</a></li>
                <li class="option" ng-click="vm_shared.showCreateFolder = !vm_shared.showCreateFolder" ng-hide="((vm_shared.directories | filter:{Selected:'true'}).length > 0 || (vm_shared.files | filter : {Selected:'true'}).length > 0)"><a href="#" class="ui-cloud-create-folder"><div class="ic-add-folder"></div> Create Folder</a></li>-->
                <!--<li class="option-red" ng-show="((vm_shared.directories | filter:{Selected:'true'}).length > 0 || (vm_shared.files | filter : {Selected:'true'}).length > 0)"><a href="#delete-popup"><div class="ic-delete"></div> Delete</a></li>-->
                <!--<li class="option" ng-show="(vm_shared.directories | filter:{Selected:'true'}).length + (vm_shared.files | filter : {Selected:'true'}).length == 1"><a href="#" class="ui-cloud-rename"><div class="ic-rename"></div> Rename</a></li>-->
                <!--<li class="option" data-get-model-template="ShareModel" ng-show="(vm_shared.directories | filter:{Selected:'true'}).length + (vm_shared.files | filter : {Selected:'true'}).length == 1"><a href="#"><div class="ic-share"></div> Share</a></li>-->
                <li class="option" ng-click="vm_shared.groupDownload()" ng-show="(((vm_shared.directories | filter:{Selected:'true'}).length > 0 || (vm_shared.files | filter : {Selected:'true'}).length > 0)) && (vm_shared.directories | filter:{Selected:'true'}).length == 0"><a href="#"><div class="ic-download"></div> Download</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="files-list">
            <div class="row header">
                <div class="col-xs-1">
                    <div class="ic-arrow-down"></div>
                </div>
                <div class="col-xs-7 name">
                    {{ 'Name' | translate }}
                </div>
                <div class="col-xs-2">
                    {{ 'Modified' | translate }}
                </div>
                <div class="col-xs-2">
                    {{ 'Size' | translate }}
                </div>
            </div>
            <div class="row folder" ng-show="vm_collection.showCreateFolder" ng-form="vm_collection.Form" ng-class="{'blured' : vm_collection.Globals.isSpinning()}">
                <div class="col-xs-1">
                    <div class="ic-folder"></div>
                </div>
                <div class="col-xs-8 name">
                    <input type="text" name="foldername" ng-class="{'createFolderError': vm_collection.errorMessage}" ng-model="vm_collection.foldername" placeholder="Folder name" ng-blur="vm_collection.createFolderAccept()" required>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row folder" ng-repeat="item in vm_shared.directories | filter : init.search" ng-init="item.Selected=false" ng-click="item.Selected = !item.Selected" ng-class="{'active': item.Selected}">
                <div class="col-xs-1">
                    <div class="ic-folder"></div>
                </div>
                <div class="col-xs-7 name" style="overflow-x: hidden;text-overflow: ellipsis; white-space: nowrap;">
                    <a href="/shared/{{vm_shared.user.UniqueId}}/{{item.UniqueId}}" style="padding-top:14.5px; padding-bottom:14.5px;">{{item.Name}}</a>
                </div>
                <div class="col-xs-2">
                    {{ item.DateCreated | date:'dd MMM yyyy' }}
                </div>
                <div class="col-xs-2">
                    -
                </div>
            </div>
            <div class="row file" ng-repeat="item in vm_shared.files | filter : init.search" ng-click="item.Selected = !item.Selected" ng-class="{'active': item.Selected}">
                <div class="col-xs-1">
                    <div ng-class="vm_shared.Globals.getFileClass(item.ContentType)"></div>
                </div>
                <div class="col-xs-7 name" style="overflow-x: hidden !important;text-overflow: ellipsis !important; white-space: nowrap;">
                    <span>{{ item.Name }}</span>
                </div>
                <div class="col-xs-2">
                    {{ item.DateModified | date:'dd MMM yyyy' }}
                </div>
                <div class="col-xs-2">
                    {{ file_size(item.Size) }}
                </div>
            </div>
            <div class="row no-files" ng-show="!vm_shared.files.length && !vm_shared.directories.length && !vm_shared.loading">
                <div class="col-xs-12">
                    <h1>No files</h1>
                    <h4>Couldn`t find files.</h4>
                </div>
            </div>
            <div class="row no-files" ng-show="vm_shared.loading">
                <div class="col-xs-12">
                    <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div ng-slimscroll>
    <div class="main-block">
        <div class="page-header" ng-show="shared.user.Name">
            <h1>{{ shared.user.Name }}'s files:</h1>
            <ol class="breadcrumb">
                <li><a href="{{ ''  }}">{{ 'Home' | translate }}</a></li>
                <li><a href="{{ 'user/' + shared.user.UniqueId  }}">{{  shared.user.Name }}</a></li>
                <li ng-repeat="routeItem in shared.path" ng-if="routeItem.Name != '~'"><a href="{{ 'user/' + shared.user.UniqueId + '/' + routeItem.UniqueId}}">{{routeItem.Name}}</a></li>
            </ol>
        </div>

        <div class="page-content">

            <div class="alert alert-warning" ng-show="((!shared.files.length && !shared.directories.length) || (shared.files.length == 0 && shared.directories.length == 0)) || shared.loading">
                <span ng-show="shared.loading && !shared.files.length">{{ 'CollectionLoading' | translate }}</span>
                <span ng-show="((!shared.files.length && !shared.directories.length) || (shared.files.length == 0 && shared.directories.length == 0)) && !shared.loading">{{ 'SharedFilesEmpty' | translate }}</span>
            </div>

            <div ng-show="shared.files.length || shared.directories.length">

                <div class="collection-actions">
                    <ul class="items pull-left">
                        <li>
                            <button class="btn-circled" ng-click="shared.getCollection()"><i class="icon-refresh"></i></button>
                        </li>
                    </ul>
                    <ul class="items pull-right">
                        <li>
                            <button class="btn-circled" ng-show="shared.$routeParams.nodeId" ng-click="shared.createFolder()"><i class="icon-plus"></i></button>
                        </li>
                        <li>
                            <button class="btn-circled" data-do-upload-shared="{{shared.path[shared.path.length-1].UniqueId}}" data-userid="{{shared.user.UniqueId}}"><i class="icon-upload"></i></button>
                        </li>
                        <li>
                            <button class="btn-circled" ng-disabled="!shared.getSelectedFiles().length" ng-click="shared.groupDownload()"><i class="icon-download"></i></button>
                        </li>
                    </ul>


                </div>

                <table class="table table-custom">
                    <thead>
                        <tr>
                            <th class="fw-56 text-center">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" ng-model="shared.groupToggle" />
                                    <i class="feather-check"></i>
                                </label>
                            </th>
                            <th>{{ 'Name' | translate }}</th>
                            <th class="text-center hidden-xs hidden-sm fw-66">{{ 'Type' | translate }}</th>
                            <th class="text-center hidden-xs hidden-sm fw-15p">{{ 'Size' | translate }}</th>
                            <th class="text-center hidden-xs hidden-sm fw-15p">{{ 'Uploaded' | translate }}</th>
                            <th class="text-center hidden-xs hidden-sm hidden-md fw-15p">{{ 'Modified' | translate }}</th>
                            <th class="fw-66"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in shared.directories track by $index" ng-class="{selected: item.Selected}">
                            <td class="text-center">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" ng-model="item.Selected" disabled />
                                    <i class="feather-cross" style="cursor:not-allowed"></i>
                                </label>
                            </td>
                            <td class="name">
                                <a href="{{ 'user/' + shared.user.UniqueId + '/'+item.UniqueId  }}">{{ item.Name }}</a>
                            </td>
                            <td class="text-center hidden-xs hidden-sm">
                                <em class="icon large-icon feather-folder"></em>
                            </td>
                            <td class="text-center hidden-xs hidden-sm"></td>
                            <td class="text-center hidden-xs hidden-sm">
                                {{ item.DateCreated | date:'yyyy MMM d' }}
                            </td>
                            <td class="text-center hidden-xs hidden-sm hidden-md">
                                {{ item.DateModified | date:'yyyy MMM d' }}
                            </td>
                            <td class="text-center">
                                <div class="btn-block pull-right dropup" uib-dropdown>
                                    <div class="row-btn pull-right margin-right-10" uib-dropdown-toggle></div>
                                    <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu">
                                        <li>
                                            <a data-do-upload-shared="{{ item.UniqueId }}" data-userid="{{shared.user.UniqueId}}">{{ 'UploadToCollection' | translate:this }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr ng-repeat="item in shared.files track by $index" ng-class="{selected: item.Selected}">
                            <td class="text-center">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" ng-model="item.Selected" />
                                    <i class="feather-check"></i>
                                </label>
                            </td>
                            <td class="name">
                                {{ item.Name }}
                            </td>
                            <td class="text-center hidden-xs hidden-sm">
                                <em class="icon large-icon" ng-class="item.getFileClass(item.ContentType)"></em>
                            </td>
                            <td class="text-center hidden-xs hidden-sm">
                                {{ file_size(item.Size) }}
                            </td>
                            <td class="text-center hidden-xs hidden-sm">
                                {{ item.DateCreated | date:'yyyy MMM d' }}
                            </td>
                            <td class="text-center hidden-xs hidden-sm hidden-md">
                                {{ item.DateModified | date:'yyyy MMM d' }}
                            </td>
                            <td class="text-center">
                                <div class="btn-block pull-right dropup" uib-dropdown>
                                    <div class="row-btn pull-right margin-right-10" uib-dropdown-toggle></div>
                                    <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu">
                                        <li>
                                            <a ng-click="shared.DownloadFile(item)">{{ 'Download' | translate }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>-->
