﻿<div class="fixed" style="background-color: white;z-index: 2;padding-top: 7px;width:770px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="select">
                <div class="btn-group bootstrap-select" style="padding:0px;width: 100%;">
                    <button type="button" class="btn dropdown-toggle btn-select" data-toggle="dropdown" role="button" title="Click to open" style="padding-left:0px !important;height: 48px;">
                        <div class="col-xs-1">
                            <div class="ic-folder" ng-show="vm_shared.path.length > 0"></div>
                            <!--<div class="bs-caret" style="margin-top:5px;padding:10px">
                                <span class="default-caret" ng-show="vm_shared.Globals.breadcrumbs.length> 1"></span>
                            </div>-->
                        </div>
                        <div class="col-xs-7 pull-left" style="text-align: left;">
                            <div class="cloud_title_name" style="overflow-x: hidden; text-overflow: ellipsis; width:inherit">
                                {{vm_shared.path.length == 0 ? vm_shared.user.Name + '\'s files' : vm_shared.path[vm_shared.path.length-1].Name}}
                            </div>
                        </div>
                    </button>
                    <div class="breadcrumbs-node" ng-class="{'dropdown-menu open': vm_shared.path.length > 0}" role="combobox">
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="padding: 4px 4px;">
                            <li ng-repeat="item in vm_shared.path | orderBy:$index:true" ng-if="!$first">
                                <span class="ic-folder pull-left"></span>
                                <a style="clear: none !important" role="option" href="/shared/{{vm_shared.user.UniqueId}}/{{item.UniqueId}}">
                                    <div style="overflow-x: hidden;text-overflow: ellipsis; width: inherit;" class="text">{{item.Name}}</div>
                                </a>
                            </li>
                            <li ng-show="vm_shared.path.length > 0 ">
                                <span class="ic-folder pull-left"></span>
                                <a style="clear: none !important" role="option" href="/shared/{{vm_shared.user.UniqueId}}">
                                    <div>{{vm_shared.user.Name}}'s files</div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="select">
                <ul class="options" style="margin-bottom:0px; height:44px;padding-left: 6px;">
                    <li class="option" ng-click="vm_shared.groupDownload()" ng-show="(((vm_shared.directories | filter:{Selected:'true'}).length > 0 || (vm_shared.files | filter : {Selected:'true'}).length > 0)) && (vm_shared.directories | filter:{Selected:'true'}).length == 0"><a href="#"><div class="ic-download"></div> Download</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="files-list">
                <div class="row header" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-xs-1">
                        <div class="ic-arrow-down"></div>
                    </div>
                    <div class="col-xs-7 name">
                        {{ 'Name' | translate }}
                    </div>
                    <div class="col-xs-2">
                        {{ 'Modified' | translate }}
                    </div>
                    <div class="col-xs-2">
                        {{ 'Size' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="files-list" style="margin-top: 148px;">
            <div class="row folder hover_item" style="margin-left: 0px; margin-right: 0px;" ng-repeat="item in _directories = (vm_shared.directories | filter : {Name: init.search})" ng-init="item.Selected=false" ng-click="!vm_shared.showRename && (item.Selected = !item.Selected)" ng-class="{'active': item.Selected}">
                <div class="col-xs-1">
                    <div class="ic-folder"></div>
                </div>
                <div class="col-xs-7 name" style="overflow-x: hidden;text-overflow: ellipsis; white-space: nowrap;">
                    <a href="/shared/{{vm_shared.user.UniqueId}}/{{item.UniqueId}}" ng-hide="item.rename" style="padding-top:14.5px; padding-bottom:14.5px;cursor:pointer !important;">{{item.Name}}</a>
                    <input type="text" ng-show="item.rename" focus-me="{{item.rename}}" ng-class="{'createFolderError': item.error}" ng-init="item.tempName=item.Name" ng-model="item.tempName" ng-blur="vm_shared.clickOutSideHandle($event)">
                </div>
                <div class="col-xs-2">
                    <span>{{ item.DateCreated | date:'dd MMM yyyy' }}</span>
                    <!--<div ng-show="item.rename" ng-click="vm_shared.confirmRename(item, item.tempName)" class="ic-rename"></div>-->
                </div>
                <div class="col-xs-2">
                    <span>-</span>
                    <!--<div ng-show="item.rename" ng-click="vm_shared.cancelRename(item)" class="ic-cancel"></div>-->
                </div>
            </div>
            <div class="row file hover_item" style="margin-left: 0px; margin-right: 0px;" ng-repeat="item in _files = ( vm_shared.files | filter : {Name: init.search})" ng-click="!vm_shared.showRename && (item.Selected = !item.Selected)" ng-class="{'active': item.Selected}">
                <div class="col-xs-1">
                    <div ng-class="vm_shared.Globals.getFileClass(item.ContentType)"></div>
                </div>
                <div class="col-xs-7 name" style="overflow-x: hidden !important;text-overflow: ellipsis !important; white-space: nowrap;">
                    <span ng-hide="item.rename">{{ item.Name }}</span>
                    <input type="text" ng-show="item.rename" focus-me="{{item.rename}}" ng-class="{'createFolderError': item.error}" ng-init="item.tempName=item.Name" ng-model="item.tempName" ng-blur="vm_shared.clickOutSideHandle($event)">
                </div>
                <div class="col-xs-2">
                    <span>{{ item.DateModified | date:'dd MMM yyyy' }}</span>
                    <!--<div ng-show="item.rename" ng-click="vm_shared.confirmRename(item, item.tempName)" class="ic-rename"></div>-->
                </div>
                <div class="col-xs-2">
                    <span>{{ file_size(item.Size) }}</span>
                    <!--<div ng-show="item.rename" ng-click="vm_shared.cancelRename(item)" class="ic-cancel"></div>-->
                </div>
            </div>
            <div class="row no-files" ng-show="!init.search && !vm_shared.files.length && !vm_shared.directories.length && !vm_shared.loading" data-do-upload>
                <div class="col-xs-12" style="text-align:center;">
                    <div class="empty-cloud"></div>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;color: #212121;">No files</h4>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;color: #757575;">Upload files to secure them.</h4>
                </div>
            </div>
            <div class="row no-files" ng-show="init.search && !_directories.length && !_files.length && !vm_shared.loading" style="display: flex; align-items: center; justify-content: center;">
                <div class="col-xs-12" style="text-align:center;">
                    <div class="empty-search"></div>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;color: #212121;">Nothing found</h4>
                    <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;color: #757575;">Couldn't find anything<br />Check spelling and repeat.</h4>
                </div>
            </div>
            <div class="row no-files loader" style="position: fixed; top:48px; left:0; display: flex; align-items: center; justify-content: center; width: 100%;min-height:100% !important;" ng-show="vm_shared.loading && !vm_shared.directories.length && !vm_shared.files.length">
                <div class="col-xs-12">
                    <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                </div>
            </div>
        </div>
        <!--<div class="files-list" ng-show="vm_shared.loading" style="position: absolute; top:48px; left:0; display: flex; align-items: center; justify-content: center; width: 100%;height:60vh !important; max-height:60vh !important;">
            <div class="row no-files loader">
                <div class="col-xs-12">
                    <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
                </div>
            </div>
        </div>-->
    </div>
</div>
