﻿<div class="fixed" style="background-color: white;z-index: 2;padding-top: 7px;width:770px;">
    <div class="row" style="margin-right:0px !important; margin-left:0px !important;">
        <div class="col-xs-12">
            <div class="select">
                <div class="btn-group bootstrap-select" style="padding:0px;width: 100%;">
                    <button type="button" class="btn dropdown-toggle btn-select" style="padding-left:0px !important;height: 48px;">
                        <div class="col-xs-1">
                            
                        </div>
                        <div class="col-xs-7 pull-left" style="text-align: left;">
                            <div class="cloud_title_name" style="overflow-x: hidden; text-overflow: ellipsis; width:inherit">
                                Shared with me
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-right:0px !important; margin-left:0px !important;">
    <div class="col-xs-12" style="margin-top: 48px; padding:0px;" ng-hide="vm_shared.loading">
        <div class="row shared-with-me" style="margin-right:0px !important; margin-left:0px !important;" ng-repeat="item in _shared = (vm_shared.users | filter : {Name: init.search})">
            <a href="/shared/{{item.UniqueId}}">
                <div class="row " style="margin-right:0px !important; margin-left:0px !important;">
                    <div class="col-xs-8">
                        <div class="user-avatar" style="background-color: #2196f3; text-align: center;  padding-top:8px; font-size: 16px; color: white;">{{cloud.Globals.getShortName(item.Name)}}</div>
                        {{item.Name}}
                    </div>
                    <div class="col-xs-4">
                        {{item.Email}}
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-12" style="margin-top: 148px;" ng-show="vm_shared.loading">
        <md-progress-circular md-mode="indeterminate" class="center-block"></md-progress-circular>
    </div>
    <div class="col-xs-12 shared-with-me" style="margin-top: 48px; text-align:center; padding-top:150px" ng-show="!init.search && !vm_shared.users.length && !vm_shared.loading">
        <div class="empty-shared-with-me"></div>
        <h1 style="'Roboto', sans-serif;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;text-align: center;color: #212121;">No shared files</h1>
        <h4 style="'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;text-align: center;color: #757575;">
            They will appear, when your<br />
            friends share them with you.
        </h4>
    </div>
    <div class="col-xs-12 shared-with-me" style="margin-top: 48px; text-align:center; padding-top:150px" ng-show="init.search && !_shared.length && !vm_shared.loading">
        <div class="empty-search"></div>
        <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 20px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.2;color: #212121;">Nothing found</h4>
        <h4 style="height: 24px;font-family:'Roboto', sans-serif;font-size: 14px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.71;color: #757575;">Couldn't find anything<br />Check spelling and repeat.</h4>
    </div>
</div>
